max_num_tarjetas = 3
mid_num_tarjetas = 2
min_num_tarjetas = 1
ancho_tarjeta =  98% / max_num_tarjetas
alto_tarjeta = (ancho_tarjeta / 3)em

black_transparent = rgba(0,0,0,0.12)

.medic_card
	display inline-block
	background-color white	
	padding 0.0rem				
	padding-bottom 0.2rem				
	bordes_redondeados(2px)
	sombra_tarjeta_medic()	
	vertical-align top
	overflow hidden
	z-index 20	
		
	.result-item&
		cursor pointer
		margin 0.3%
		margin-top 0.4%
		margin-bottom 0.4%
		width ( 98% / max_num_tarjetas) - @margin*max_num_tarjetas
		position relative			

		@media screen and (min-width: 768px)
			&:hover
				z-index @z-index+1
				sombra_caja( 0px, 0px, 10px, 2px, rgba(53,184,20,0.8))	
				height auto !important

				.servicios					
					max-height none !important

		i 
			font-style normal			

		header
			border 0px
			margin 0em
			background-color principal

			h3, h4 
				text-align center				
				margin 0em							
				overflow ellipsis

			h3
				width 98%
				font-size 1.35rem	
				color white !important
				text-shadow 1px 1px 1px black														
				margin-bottom 0.48em
				margin-left 1%
				margin-right 1%
				
			h4
				
				color white !important						
				text-shadow 1px 1px 1px darken(gris_claro, 50%)
				font-size (1.2*0.80)em
				margin 0px		
				background-color black_transparent	

			p
				font-weight normal
				text-align center
				margin 0em

		.web			
			letter-spacing 0.15em			
			overflow ellipsis
		
		.servicios			
			text-align center			
			line-height 0.9rem
			padding 0em 1em
			overflow hidden
			text-overflow ellipsis	
				

			p
				font-size 0.78em
				line-height 1.34em	

		.contactos
			font-size 0.7rem
		
		
		&.doctor_card
			height (@width / 3.3)em	
			min-height @height

			.web
				border-top 1px solid darken(gris_claro, 15%)
				background-color darken( gris_claro, 3%)	
				width 100%	

			@media screen and (max-width: 768px)					
				height auto

			header 
				//height 45%
				padding-top 2%
				margin-bottom 1%				
				background-size cover

				for nh in 1 2 3 4
					&.doctor-header-{nh}
						url = '/static_health/img/medic-header-' + nh +'.jpg'
						background-image url(url)					
					

				h3, h4, p 
					text-align center

			.servicios
				height 41%
				margin-bottom 5%
				text-align center

				p
					margin 0px
					height 100%						
									

			&.joined 
				
				header				
				
					h3, h4, p 
						text-align right	

					h3
						margin-top 0.3em

				.servicios
					text-align right
					padding 0em

		h_header = 32%
		h_servicios = 33%
		h_contactos = 19%
		h_web = 8% 
		h_badges = 6%

		&.institution_card
			height ((@width / 3.5)*2.2)em	
			min-height @height
			padding 0em			

			.servicios, .contactos, .web
				margin 0em 1.2em

			header
				padding-top 1.4em
				margin-bottom 1em
				//height h_header
				position relative
				background-size cover
				padding-bottom 2.4em
				//background-image url('/static_health/img/medic-header-1e.jpg')

				for nh in 1 2 3
					&.institution-header-{nh}
						url = '/static_health/img/medic-header-' + nh +'e.jpg'
						background-image url(url)

				p
					font-size 0.84em
					color white	!important
					position absolute
					bottom 0
					left 0
					right 0
					padding 0.3em 1em
					background-color black_transparent
							
			.servicios
				max-height 6.3em
				padding 0px
				line-height 1em			

			.contactos
				height 5.5em
				overflow hidden

			.contactos section
				display inline-block				
				vertical-align top								

				li
					display block 

				&.phones
					margin-top 1em

					i
						width 39%
						margin-right 0.4em

				&.online 
					width 60%
					margin-top 1em
					float right
					li
						text-align right
					i
						margin-left 0.4em

			.web
				text-align center				
				height 1.6em

				p
					margin 0px
					font-size 0.9em
					letter-spacing 0.1em

			.badges
				height 1.3em				
				p
					display inline-block
					font-size 0.77em
					padding 0px 0.4em
					height 100%
					margin-bottom 0px
					

				*
					color white !important
					float right

				.emergencies
					background-color rojo
					


			&.joined
				header
					background-image url('/media/headers/min_pzo_header.png')		
					background-repeat no-repeat
					background-size cover			

					h3, p
						color white !important
						text-shadow black 1px 1px 1px
					
		@media screen and (max-width: 768px)
			width ( 98% / mid_num_tarjetas) - @margin*mid_num_tarjetas		

		@media screen and (max-width: 600px)
			width ( 98% / min_num_tarjetas) - @margin*min_num_tarjetas	

	.cuerpo
		height 93%
		border-bottom 1px solid darken(gris_claro, 10%)		

		> div
			display inline-block			
			height 100%
			vertical-align top
			
			&:first-child
				width 30%

			&:last-child
				width 68.5%		

		p.servicios			
			text-align right 			

	.pie
		position absolute
		left 0
		right 0
		bottom 0

		p
			font-size 0.66rem
			text-align center
			margin 0px
			line-height 1.5em

	.doctor_shot
		border 1px solid darken(gris_claro, 10%)
		width 5.5em
		height 5.5em
		background-image url("/static_health/img/doctest3.png")
		background-position top left
		background-size contain
		

	h2
		display inline-block
		font-size 0.5em