@media screen and (min-width: 1050px)
	.etiqueta-encuesta

		.boton-encuesta, .pregunta
			
			padding 4px 15px 7px 15px

		.pregunta
			-webkit-border-radius 0 5px 5px 0
			-moz-border-radius 0 5px 5px 0
			padding 4px 15px 15px 15px


		
@media screen and (max-width: 800px)
	.etiqueta-encuesta
		
		margin: auto 10% auto 10%;
		bottom 0px 
		text-align center
		top auto


	.boton-encuesta, .pregunta
		border-radius 5px 5px 0 0
		padding-left 15px
		padding-right 15px
		width 100%


@media screen and (max-width: 400px)
	.etiqueta-encuesta
		width: 100%
		.boton-encuesta
			width 100%
			margin -10px 10% auto 10%

		.pregunta
			margin -80px 0 0 40px



