
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.gold
	color gold
	font-size 1.3em
	text-shadow rgba(0,0,0,0.3) 1px 1px 



