@import iconsfont_entypo
@import colores_admin
@import mixins_health
@import tarjetas_admin
@import tarjeta_telefonos_form
@import form

input#filtro_especialidades, #id_especialidades
	width 50%

.tarjeta-agregar-consulta
.tarjeta-agregar-bloque
	tarjeta-agregar()
	margin-top 0.5em
	margin-bottom 0.5em
	height 1.7em

.tarjeta-agregar-consulta *, .tarjeta-agregar-bloque {
  text-color: #d5d5d5;
}
.tarjeta-agregar-consulta:hover
.tarjeta-agregar-bloque:hover
	tarjeta-agregar-hover()

.citas .tarjeta-admin{
  margin-top: 2em;
}

#id_revisado_de
	width 80%

label[for$=emergencias]
	width auto !important