@import url(http://weloveiconfonts.com/api/?family=entypo)
@import tarjetas_admin
@import tarjeta_telefonos_form
@import form

transforms = box-shadow 0.5s , transform 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s, -moz-transform 0.5s, -moz-box-shadow 0.5s

#horarios-forms
	.tarjeta-agregar
		tarjeta-agregar(100px, 0.3em)

		&:hover
			tarjeta-agregar-hover()

	.tarjeta-admin
		margen_vertical = 0.5em
		margin-top margen_vertical
		margin-bottom margen_vertical


.row-fluid [class*=span6]:first-child
	margin-left margen_form

[class*="entypo-"]:before
	font-family 'entypo', sans-serif;

#id_revisado_de
	width 80%