@import colores_medic

oculto_size = -5.8em

@keyframes desplegar
	0%
		bottom oculto_size
	100% 
		bottom 0px

@keyframes ocultar
	0%
		bottom 0px
	100% 
		bottom oculto_size

@-webkit-keyframes desplegar
	0%
		bottom oculto_size
	100% 
		bottom 0px

@-webkit-keyframes ocultar
	0%
		bottom 0px
	100% 
		bottom oculto_size

.widget-encuesta
	background-color white
	bottom oculto_size
	box-shadow 1px 1px 4px rgba(0,0,0,0.40)
	height 7.6em
	right 100px
	position fixed
	width 18em
	z-index 50

	&.desplegar
		bottom 0px
		animation-name desplegar
		animation-duration 0.6s
		-webkit-animation-name desplegar
		-webkit-animation-duration 0.6s
	&.ocultar
		bottom oculto_size
		animation-name ocultar
		animation-duration 0.6s
		-webkit-animation-name ocultar
		-webkit-animation-duration 0.6s
		


	.cabecera-encuesta
		background-color darken( principal, 4%)
		color white !important
		font-size 1em
		line-height 1.3em
		cursor pointer

		&:hover
			text-decoration underline

		
	.opciones
		margin-top -1.2em
		span
			font-size 2.5em
			margin 0.2em
			cursor pointer
			
		span:nth-child(3)
			color green !important
		span:nth-child(2)
			color #FF8700 !important
		span:nth-child(1)
			color rojo !important
	.pregunta
		color negro
		font-size 1.3em
		line-height 1.6em
		border-bottom 1px dotted negro
		margin-top 0.3em
		margin-left 10px
		margin-right 10px
		
	@media screen and (max-width: 600px)
		width 100%
		left 0px

.modal
	
	.cabecera
		color gris_oscuro
		font-size 3em
		line-height 1.5em

	.text
		font-size 1.2em
		line-height 1.3em
		margin-bottom 1em


	textarea
		height 8em !important
	
	.modal-footer 
		a
			background-color darken(principal, 10%)  !important
			border-color darken( principal, 20%)
			margin-top 1em




