@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/Comfortaa_Bold-webfont.eot');
    src: url('../fonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

logo_font = 'ComfortaaBold'

@font-face {
    font-family: 'Gudea';
    src: url('../fonts/gudea.eot');
    src: url('../fonts/gudea.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea.woff') format('woff'),
         url('../fonts/gudea.ttf') format('truetype'),
         url('../fonts/gudea.svg#gudearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

serif_font = 'Belgrano'