.boton_adicional
	width 10% !important
/*Implementar dos botones con la linea bien bonita */
.double
	.delimitador
		width 28%
/*Implementar para tres botones con la linea bien bonita */
.triple
	.delimitador
		width 22%