@import url(http://fonts.googleapis.com/css?family=Signika)
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

@import normalize
@import variables
@import medic_base

@import nostd
@import mixins_medic
@import medic_animations

@import cards_designs

radio_input_busqueda = 10px

img.franja_beta
	position absolute
	top 0px
	right 0px

	@media screen and (max-width: 768px)
		display none		

div.franja_beta
	background-color darken(red, 22%)
	height 2.1em
	padding 0.1em 0em	
	
	@media screen and (min-width: 768px)
		display none

	div
		font-size 0.9em
		color white
		padding 0.50em 0.5em
		border 1px dashed lighten(red, 50%)
		border-left none
		border-right none
		height 98%		
		text-align center
		vertical-align middle
		text-overflow ellipsis
		overflow hidden
		white-space nowrap		


img#ciudad
	position relative
	width 100%

#cabezera header
	border-bottom solid 2px verde_oscuro	

	*
		color white

	#titulo-box				
		background-resplandor()	

		& > span
			@media screen and (max-width: 1024px)
				display none		

	h1		
		font-size 6.9em					
		text-align center		
		line-height 1.2em

		@media screen and (max-width: 600px)
			font-size 5.9em

		@media screen and (max-width: 320px)
			font-size 4.9em

	

	h5
		text-align center

		@media screen and (min-width: 1024px)
			display none
	span		
		position relative
		padding 0em 0.4em
		top -2.7em
		left 41em
		border-left 1px solid white
		letter-spacing 0.2em
		cursor pointer
		font-weight normal

		@media screen and (max-width: 1024px)
			position relative
			left 0px
			top -1em
			border-top @border-left
			border-left none
			padding 0em 3em
			letter-spacing 1em

			@media screen and (max-width: 480px)
				top -0.7em
		

#cabezera
	degradado_verde()
	//sombra_caja(outset, 0px, 2px, 10px, 0px, rgba(0,0,0,0.75) )	

	#busqueda		
		width 100%
		position static
		padding-bottom 0.3em		
		sombra_seccion(0.45)
		position relative	
		padding-bottom 0rem		
		background-color white				
		border 0px

		&.fixed
			position fixed
			top 0px			
			opacity 0.95
			border-bottom 2px solid principal

		#busqueda-wrapper
			background-color white			
			

			@media screen and (max-width: 768px)													
				sombra_caja(0px, 0px, 0px, 0px, white)
			
			.search-icon				
				
				&:before
					font-size 1.5em
					line-height @font-size

				@media screen and (max-width: 600px)
					display none

			input 
				font-size 1.12rem											
				padding 0px
				border none
				sombra_caja_in(0px, 0px, 0px, 0px, rgba(0,0,0,0))				

				&:focus
					background white

				@media screen and (max-width: 768px )
					border-left 0px
					border-right 0px
					background white											
					font-size 1.1rem
					border none
							

		.input_elem
			width 100%
			height 100%
			margin-bottom 0em
			border-left 0px
			padding 0em
			font-size 1.35em		
			color lighten(negro, 40%)
			background none
			border none		
			box-shadow none	
			prefixs(transform, scale(1.2))

		#boton-buscar									
			prefixs(animation-name, buscar-boton)
			prefixs(animation-iteration-count, infinite)
			prefixs(animation-duration, 1s)
			prefixs(animation-direction, alternate)			

			&:hover
				color lighten(negro, 20%)				
				animation none			
							
		#consulta
			height 2.6em			
			margin-bottom 0em			

	#menu
		margin-bottom 0.6em 

		#menu-wrapper
			estilos_caja()			
			bordes_redondeados_inferior(10px)				

			@media screen and (max-width: 768px)				
				bordes_redondeados_inferior(0px)	
				background none
				box-shadow none			
				

		li 
			display inline-block
			padding 0em 1em
			margin 0.4em 0em 
			border-right 1px solid darken(principal, 43%)
			border-left 1px solid darken(principal, 18%)			
			text-align center
							
			@media screen and (max-width: 768px)												
				margin-top 0.2em
				border-right 1px solid darken(principal, 34%)
				border-left 1px solid lighten(principal, 2%)
				
			
			&:last-child
				border-right none
			
			&:first-child
				border-left none												

h1
	font-weight normal
	font-size 2.9em
	margin-bottom 0px

h2
	font-weight normal
	font-size 2em
	margin-top 0px

.presentation
	overflow hidden
	height entry-height
	background-color white
	background-image url('../img/presentation.jpg')
	background-repeat no-repeat
	background-position left
	background-size cover
	box-shadow inset 0px -1px 2px 0px rgba(0, 0, 0, 0.25)	

	.title				
		text-shadow 1px 1px 1px rgba(255,255,255,0.6)

	.subtitle
		padding-bottom .5em
		margin-bottom 0px
		border-bottom 1px solid rgba(0,0,0,0.1)

	.numbers-wrapper
		border-top 1px solid rgba(255,255,255,0.5)		

	.number-wrapper
		padding-top .7em;

	&.hide-entry
		height 0em
		animation-name hide-entry
		animation-duration 0.9s

	.presentation-wrapper
		background-color rgba(255,255,255,0.5)
		box-shadow 1px 1px 1px rgba(0,0,0,0.1)
		padding-bottom 1em
		margin-top 1em;

	@media screen and (max-width: 600px)
		height 25em



ancho_resultados = 64em

#cuerpo		

	&.mobile
		height auto
	
	@media screen and (max-width: 768px)
		height auto

	sombras_color = darken(gris_claro,2%)
	.sombra-scroll		
		height 1em
		max-width ancho_resultados 
		sombra_caja(0px, -2px, 5px, 2px, sombras_color  )
		z-index 10
		position relative		

		&.sup
			sombra_caja(0px, 2px, 5px, 2px, sombras_color )

		@media screen and (max-width: 768px)
			sombra_caja(0px, 0px, 0px, 0px, gris_claro )		

	#resultados			
		height auto					
		z-index 2
		margin-top 0.5em

		&.mobile
			overflow visible
			height auto			

		&.row
			max-width ancho_resultados

	*
		color negro

	#barra-superior
		padding-bottom 0rem		
		border-bottom 1px solid lighten(negro, 70%)
		//height 4em

		h3
			font-weight normal
			text-align center
			color negro
			texto_encrustado()
			font-size 1.75em

			@media screen and (max-width: 600px)
				font-size 1.55em

		#results-topbar
			overflow hidden

		.filtro
			text-align center
			cursor pointer
			padding 0.4rem 0em
			font-size 1.05em				
			color lighten(negro, 40%)
			position relative
			bottom -1px			

			&.active				
				color negro
				border-bottom 4px solid rgba(53,184,20,1)

	#loader
		text-align center
		font-family 'Gudea'
		font-size 2em
		font-weight bold
		margin-top 2em
		letter-spacing 0.15em		


#presentacion			
	margin-top 2em
	margin-bottom @margin-top

.bloque-explicacion
	margin-bottom 8em !important

	h2
		font-size 2.7em

	p
		font-size 1.1em

	.explicacion
		line-height 1.4em
		font-size 1rem		

	.imagen
		border 1px dashed lighten(negro, 30%)
		height 8em;

	.img_wrapper
		@media screen and (max-width: 768px)
			margin-top 1rem

.grand-icon
	font-size 8.5em

.relevant-title
	border-bottom 1px dotted negro
		
	
footer
	//background-color darken(gris_claro, 10%)			
	//sombra_seccion(0.3, -2px)
	padding-top 0.5em
	margin-top 5em

	*
		color negro

	.secciones 
		border-top 1px solid darken(gris_claro, 25%)
		padding-top 0.7em

		.seccion 
		#redes
			strong
				font-size 1.2em

			p
				margin-left 0.7em
				font-size 0.9em
				color darken(gris_claro, 60%)

		#redes 
			span
				font-size 4.1em
				margin-right 0.1em			
			
				&[class$=twitter]:hover
					color #00aced

				&[class$=facebook]:hover
					color #3B5998	

				&[class$=google-plus-sign]
					color #f23735

			a
				margin-left 0.1em
				
				&:first-child span
						margin-left 0.8em

	#final
		padding-top 2em
		padding-bottom 1.4em

		*
			text-align center
			font-size 1em
		p
			margin 0px
			line-height 1em

		#medic_footer						
			font-family 'ComfortaaBold'
			letter-spacing medic_espacio_letras
			texto_encrustado()
			font-size 3.2em
			line-height 1.18em

		#legal
			font-size 1em
			texto_encrustado()			

			span
				font-family "Helvetica Neue",Helvetica,Arial,sans-serif



#templates
	display none
		


.show-doctor
	animacion(mostrar-doctor, 0.25s)

.hide	
	opacity 0	

.no-display
	display none


@keyframes mostrar-doctor
	0% 
		opacity 0
		position relative
		right 20px
	40%
		right 10px
	100%
		opacity 1
		right 0px
		position static

@keyframes quitar
	from 
		opacity 1
	to
		opacity 0

@keyframes buscar-boton
	0%
		color lighten(negro, 65%)	
	100%		
		color lighten(negro, 30%)