
/* ==========================================================================
   Estilos para Health
   ========================================================================== */

@import colores_admin

#menu-lateral
	padding: 8px 0px;

/* ----------------- Barra superior ----------------- */

#top-bar 
	.navbar-inner
		background-image: linear-gradient(bottom, rgb(25,168,39) 4%, rgb(79,199,14) 79%, rgb(0,194,136) 100%);
		background-image: -o-linear-gradient(bottom, rgb(25,168,39) 4%, rgb(79,199,14) 79%, rgb(0,194,136) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(25,168,39) 4%, rgb(79,199,14) 79%, rgb(0,194,136) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(25,168,39) 4%, rgb(79,199,14) 79%, rgb(0,194,136) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(25,168,39) 4%, rgb(79,199,14) 79%, rgb(0,194,136) 100%);

		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, rgb(25,168,39)),color-stop(0.79, rgb(79,199,14)),color-stop(1, rgb(0,194,136)));

		border-color: rgb(5, 131, 0);
	

#top-bar .brand, 
#top-bar .nav>li>a{
	color: white;
	/*font-family: 'FamiliarProBold';*/
/*	letter-spacing: 0.12em;*/
}

#top-bar .divider-vertical{
	border-right-color: rgb(56, 201, 0);
	border-left-color: rgb(0, 112, 0);
}

#top-bar .caret{
	border-top-color: white;
	border-bottom-color: white;
}
#top-bar .brand{
	font-family: 'ComfortaaBold';
	font-size: 1.9em;
	letter-spacing: 0.17em;

}

#top-bar li.dropdown.open a.dropdown-toggle{
	background-color: rgb(0, 111, 18);
}

/* ----------------- Pantalla de logeo ----------------- */

#logeo{
	margin-right: auto;
	margin-left: auto;
	width: 280px;
}

#logeo fieldset{
	width: inherit;
}

#logeo input{
	width: 95%;
}


/* ----------------- Usuario logeado ----------------- */

.equipo h4, .equipo h5{
	margin: 2px 0px;	
}

#usuario h4{
	font-size: 15px;
}

#usuario .foto{
	padding-left: 5px;
	border-left: ridge 1px;
	margin-left: 10px;
	border-color: silver;
}

.A{
	color: #0056D8;
}

.D{
	color: #0E8809;
}

.M{
	color: #EBA000;
}

/* ----------------- Cambio de ganancia ----------------- */

#cambio_ganancia li{

	list-style-type: none;
}

/* ----------------- Motivaciones ----------------- */

.cita-enviado{
	font-size: 80%;
}

#cita-del-dia small.cita-enviado:after{
	content: '';
}

// eEtilo de botónes para formularios de Health

ancho_submit = 30%
margen_submit = 0%
ancho_delimitador = (((100% - ancho_submit) - (margen_submit * 2% ) ) / 2%) - 2%

form
div.form
	.submit-wrapper
		width 100%
		height 2.2em
		margin-top 5%
		font-weight bolder
		font-size 1.2em		

	.delimitador
		width ancho_delimitador
		height 0px
		display inline-block
		vertical-align top
		margin-top 2.1%		
		border-bottom solid 1px gris_claro


	button[type=submit].registro-submit
		width ancho_submit
		height 100%
		margin-left margen_submit
		margin-right margen_submit
		font-family 'ComfortaaBold'		
		font-size 1.2em

/* ----------------- Paginacion ----------------- */

#example_previous
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	margin-left: 5%;
	cursor: pointer;


 #example_next
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;


.dataTables_length
	width 50%
	float left

.first
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	margin-left: 30%;
	cursor: pointer;


.last{
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	margin-left: 5%;
	cursor: pointer;
}

.dataTables_paginate span a:first-child {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.dataTables_paginate span a:last-child {
	border-right-width: 1px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
}

.dataTables_paginate span a{
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
	cursor: pointer;

}

#example i {
	margin-left: 15%;
}
#example thead{
	cursor: pointer;
}
/*-------- Mensajes de erros ---------------*/
.errorlist {
	float: left;
	padding-right: 100%;
}
.errorlist li{
	width: 200px;
	color: #b94a48;
	list-style-type: none;
	margin-right:-20%;
	padding: 10px 10px 0px ;

}


/*-------------- Formularios -------- */

#formulario textarea {
	width: 356px;
}

.center thead tr th, .center tr td{
	text-align: center;
	width: 33.33%;
}

.center tr td p{
	margin: 10px 10px 5px 5px; 
	font-size: 44px;
	height: 30px;
	font-weight: bold;
}

.modal-body tr td:first-child{
	width: 80px;
}

.modal-body table{
	margin-left: 25%;
}

.detalles tr td:nth-child(1){
	width: 15%;
}
.detalles tr td:nth-child(2){
	width: 30%;
}
 .detalles tr td:nth-last-child(2){
 	width: 10%;
 	vertical-align: middle;
 }

 .detalles tr td:nth-last-child(1){
 	vertical-align: middle;
 	text-align: justify;
 }

.invisible{
	display: none;
}

.grupo, .activo{
	width: 500px;
	margin: 10px 0px 0px -132px;
	-webkit-border-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-width: 1px;
	box-shadow: 3px 3px 5px #888888;
}
.grupo label, .activo label{
	margin: -6px 5px;
	text-align: right;
	font-weight: bold;
	font-size: 16px;

}

#medios{
	width: 366px;
}
/* ----------------- Fuentes ----------------- */


@font-face {
    font-family: 'FamiliarProBold';
    src: url('../fonts/Familiar_Pro-Bold-webfont.eot');
    src: url('../fonts/Familiar_Pro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Familiar_Pro-Bold-webfont.woff') format('woff'),
         url('../fonts/Familiar_Pro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Familiar_Pro-Bold-webfont.svg#FamiliarProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DaysRegular';
    src: url('../fonts/Days-webfont.eot');
    src: url('../fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Days-webfont.woff') format('woff'),
         url('../fonts/Days-webfont.ttf') format('truetype'),
         url('../fonts/Days-webfont.svg#DaysRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaThin';
    src: url('../fonts/Comfortaa_Thin-webfont.eot');
    src: url('../fonts/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('../fonts/Comfortaa_Regular-webfont.eot');
    src: url('../fonts/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/Comfortaa_Bold-webfont.eot');
    src: url('../fonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


