@font-face
  font-family: 'medic-icons'
  src: url('../fonts/medic-icons.eot?80959509')
  src: url('../fonts/medic-icons.eot?80959509#iefix') format('embedded-opentype'),
       url('../fonts/medic-icons.woff?80959509') format('woff'),
       url('../fonts/medic-icons.ttf?80959509') format('truetype'),
       url('../fonts/medic-icons.svg?80959509#medic-icons') format('svg')
  font-weight: normal
  font-style: normal

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'medic-icons';
    src: url('../font/medic-icons.svg?80959509#medic-icons') format('svg');
  }
}
*/
[class^="medic-icon-"]:before,
[class*=" medic-icon-"]:before
  font-family: "medic-icons"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal
  text-transform: none
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

.medic-icon-comment:before
  content: '\e800'

/* '' */
.medic-icon-docs:before
  content: '\e801'

/* '' */
.medic-icon-file-image:before
  content: '\e802'

/* '' */
.medic-icon-doc-text:before
  content: '\e803'

/* '' */
.medic-icon-doc-inv:before
  content: '\e804'

/* '' */
.medic-icon-doc-text-inv:before
  content: '\e805'

/* '' */
.medic-icon-right:before
  content: '\e806'

/* '' */
.medic-icon-left:before
  content: '\e807'

/* '' */
.medic-icon-gplus:before
  content: '\e808'

/* '' */
.medic-icon-google:before
  content: '\e809'

/* '' */
.medic-icon-mail:before
  content: '\e80a'

/* '' */
.medic-icon-mail-alt:before
  content: '\e80b'

/* '' */
.medic-icon-chat:before
  content: '\e80c'

/* '' */
.medic-icon-comment-empty:before
  content: '\e80d'

/* '' */
.medic-icon-facebook:before
  content: '\e80e'

/* '' */
.medic-icon-facebook-squared:before
  content: '\e80f'

/* '' */
.medic-icon-css3:before
  content: '\e810'

/* '' */
.medic-icon-twitter:before
  content: '\e811'

/* '' */
.medic-icon-twitter-squared:before
  content: '\e812'

/* '' */
.medic-icon-hdd:before
  content: '\e813'

/* '' */
.medic-icon-database:before
  content: '\e814'

/* '' */
.medic-icon-codeopen:before
  content: '\e815'

/* '' */
.medic-icon-mobile:before
  content: '\e816'

/* '' */
.medic-icon-tablet:before
  content: '\e817'

/* '' */
.medic-icon-laptop:before
  content: '\e818'

/* '' */
.medic-icon-attention:before
  content: '\e819'

/* '' */
.medic-icon-resize-full:before
  content: '\e81a'

/* '' */
.medic-icon-location:before
  content: '\e81b'

/* '' */
.medic-icon-videocam:before
  content: '\e81c'

/* '' */
.medic-icon-star:before
  content: '\e81d'

/* '' */
.medic-icon-star-empty:before
  content: '\e81e'

/* '' */
.medic-icon-star-half-alt:before
  content: '\e81f'

/* '' */
.medic-icon-user:before
  content: '\e820'

/* '' */
.medic-icon-users:before
  content: '\e821'

/* '' */
.medic-icon-male:before
  content: '\e822'

/* '' */
.medic-icon-female:before
  content: '\e823'

/* '' */
.medic-icon-child:before
  content: '\e824'

/* '' */
.medic-icon-video:before
  content: '\e825'

/* '' */
.medic-icon-picture:before
  content: '\e826'

/* '' */
.medic-icon-minus-squared:before
  content: '\e827'

/* '' */
.medic-icon-minus-squared-alt:before
  content: '\e828'

/* '' */
.medic-icon-minus-circled:before
  content: '\e829'

/* '' */
.medic-icon-minus:before
  content: '\e82a'

/* '' */
.medic-icon-plus-squared-alt:before
  content: '\e82b'

/* '' */
.medic-icon-plus-squared:before
  content: '\e82c'

/* '' */
.medic-icon-plus-circled:before
  content: '\e82d'

/* '' */
.medic-icon-plus:before
  content: '\e82e'

/* '' */
.medic-icon-cancel-circled:before
  content: '\e82f'

/* '' */
.medic-icon-cancel-circled2:before
  content: '\e830'

/* '' */
.medic-icon-cancel:before
  content: '\e831'

/* '' */
.medic-icon-ok-circled:before
  content: '\e832'

/* '' */
.medic-icon-camera:before
  content: '\e833'

/* '' */
.medic-icon-help-circled:before
  content: '\e834'

/* '' */
.medic-icon-help:before
  content: '\e835'

/* '' */
.medic-icon-info-circled:before
  content: '\e836'

/* '' */
.medic-icon-info:before
  content: '\e837'

/* '' */
.medic-icon-home:before
  content: '\e838'

/* '' */
.medic-icon-link:before
  content: '\e839'

/* '' */
.medic-icon-link-ext:before
  content: '\e83a'

/* '' */
.medic-icon-link-ext-alt:before
  content: '\e83b'

/* '' */
.medic-icon-attach:before
  content: '\e83c'

/* '' */
.medic-icon-lock:before
  content: '\e83d'

/* '' */
.medic-icon-lock-open:before
  content: '\e83e'

/* '' */
.medic-icon-lock-open-alt:before
  content: '\e83f'

/* '' */
.medic-icon-pin:before
  content: '\e840'

/* '' */
.medic-icon-eye:before
  content: '\e841'

/* '' */
.medic-icon-eye-off:before
  content: '\e842'

/* '' */
.medic-icon-tag:before
  content: '\e843'

/* '' */
.medic-icon-tags:before
  content: '\e844'

/* '' */
.medic-icon-bookmark:before
  content: '\e845'

/* '' */
.medic-icon-bookmark-empty:before
  content: '\e846'

/* '' */
.medic-icon-cog-alt:before
  content: '\e847'

/* '' */
.medic-icon-cog:before
  content: '\e848'

/* '' */
.medic-icon-file-video:before
  content: '\e849'

/* '' */
.medic-icon-file-audio:before
  content: '\e84a'

/* '' */
.medic-icon-file-archive:before
  content: '\e84b'

/* '' */
.medic-icon-file-code:before
  content: '\e84c'

/* '' */
.medic-icon-folder:before
  content: '\e84d'

/* '' */
.medic-icon-folder-open:before
  content: '\e84e'

/* '' */
.medic-icon-folder-empty:before
  content: '\e84f'

/* '' */
.medic-icon-folder-open-empty:before
  content: '\e850'

/* '' */
.medic-icon-box:before
  content: '\e851'

/* '' */
.medic-icon-left-hand:before
  content: '\e852'

/* '' */
.medic-icon-right-hand:before
  content: '\e853'

/* '' */
.medic-icon-down-hand:before
  content: '\e854'

/* '' */
.medic-icon-up-hand:before
  content: '\e855'

/* '' */
.medic-icon-up-big:before
  content: '\e856'

/* '' */
.medic-icon-right-big:before
  content: '\e857'

/* '' */
.medic-icon-left-big:before
  content: '\e858'

/* '' */
.medic-icon-down-big:before
  content: '\e859'

/* '' */
.medic-icon-down-open:before
  content: '\e85a'

/* '' */
.medic-icon-left-open:before
  content: '\e85b'

/* '' */
.medic-icon-up-open:before
  content: '\e85c'

/* '' */
.medic-icon-angle-left:before
  content: '\e85d'

/* '' */
.medic-icon-angle-right:before
  content: '\e85e'

/* '' */
.medic-icon-angle-up:before
  content: '\e85f'

/* '' */
.medic-icon-angle-down:before
  content: '\e860'

/* '' */
.medic-icon-angle-circled-left:before
  content: '\e861'

/* '' */
.medic-icon-angle-circled-right:before
  content: '\e862'

/* '' */
.medic-icon-angle-circled-up:before
  content: '\e863'

/* '' */
.medic-icon-zoom-in:before
  content: '\e864'

/* '' */
.medic-icon-zoom-out:before
  content: '\e865'

/* '' */
.medic-icon-move:before
  content: '\e866'

/* '' */
.medic-icon-resize-horizontal:before
  content: '\e867'

/* '' */
.medic-icon-resize-vertical:before
  content: '\e868'

/* '' */
.medic-icon-resize-small:before
  content: '\e869'

/* '' */
.medic-icon-resize-full-alt:before
  content: '\e86a'

/* '' */
.medic-icon-block:before
  content: '\e86b'

/* '' */
.medic-icon-lightbulb:before
  content: '\e86c'

/* '' */
.medic-icon-clock:before
  content: '\e86d'

/* '' */
.medic-icon-headphones:before
  content: '\e86e'

/* '' */
.medic-icon-phone:before
  content: '\e86f'

/* '' */
.medic-icon-phone-squared:before
  content: '\e870'

/* '' */
.medic-icon-cloud:before
  content: '\e871'

/* '' */
.medic-icon-sun:before
  content: '\e872'

/* '' */
.medic-icon-globe:before
  content: '\e873'

/* '' */
.medic-icon-play:before
  content: '\e874'

/* '' */
.medic-icon-play-circled:before
  content: '\e875'

/* '' */
.medic-icon-play-circled2:before
  content: '\e876'

/* '' */
.medic-icon-stop:before
  content: '\e877'

/* '' */
.medic-icon-pause:before
  content: '\e878'

/* '' */
.medic-icon-paper-plane-empty:before
  content: '\e879'

/* '' */
.medic-icon-flight:before
  content: '\e87a'

/* '' */
.medic-icon-paper-plane:before
  content: '\e87b'

/* '' */
.medic-icon-umbrella:before
  content: '\e87c'

/* '' */
.medic-icon-moon:before
  content: '\e87d'

/* '' */
.medic-icon-flash:before
  content: '\e87e'

/* '' */
.medic-icon-credit-card:before
  content: '\e87f'

/* '' */
.medic-icon-floppy:before
  content: '\e880'

/* '' */
.medic-icon-megaphone:before
  content: '\e881'

/* '' */
.medic-icon-magnet:before
  content: '\e882'

/* '' */
.medic-icon-fire:before
  content: '\e883'

/* '' */
.medic-icon-gift:before
  content: '\e884'

/* '' */
.medic-icon-asterisk:before
  content: '\e885'

/* '' */
.medic-icon-taxi:before
  content: '\e886'

/* '' */
.medic-icon-truck:before
  content: '\e887'

/* '' */
.medic-icon-money:before
  content: '\e888'

/* '' */
.medic-icon-euro:before
  content: '\e889'

/* '' */
.medic-icon-pound:before
  content: '\e88a'

/* '' */
.medic-icon-shuffle:before
  content: '\e88b'

/* '' */
.medic-icon-level-down:before
  content: '\e88c'

/* '' */
.medic-icon-level-up:before
  content: '\e88d'

/* '' */
.medic-icon-arrows-cw:before
  content: '\e88e'

/* '' */
.medic-icon-ccw:before
  content: '\e88f'

/* '' */
.medic-icon-cw:before
  content: '\e890'

/* '' */
.medic-icon-down-circled:before
  content: '\e891'

/* '' */
.medic-icon-up-circled:before
  content: '\e892'

/* '' */
.medic-icon-left-circled:before
  content: '\e893'

/* '' */
.medic-icon-right-circled:before
  content: '\e894'

/* '' */
.medic-icon-award:before
  content: '\e895'

/* '' */
.medic-icon-signal:before
  content: '\e896'

/* '' */
.medic-icon-target:before
  content: '\e897'

/* '' */
.medic-icon-leaf:before
  content: '\e898'

/* '' */
.medic-icon-desktop:before
  content: '\e899'

/* '' */
.medic-icon-history:before
  content: '\e89a'

/* '' */
.medic-icon-exchange:before
  content: '\e89b'

/* '' */
.medic-icon-road:before
  content: '\e89c'

/* '' */
.medic-icon-ajust:before
  content: '\e89d'

/* '' */
.medic-icon-tint:before
  content: '\e89e'

/* '' */
.medic-icon-medkit:before
  content: '\e89f'

/* '' */
.medic-icon-h-sigh:before
  content: '\e8a0'

/* '' */
.medic-icon-ambulance:before
  content: '\e8a1'

/* '' */
.medic-icon-user-md:before
  content: '\e8a2'

/* '' */
.medic-icon-hospital:before
  content: '\e8a3'

/* '' */
.medic-icon-building:before
  content: '\e8a4'

/* '' */
.medic-icon-building-filled:before
  content: '\e8a5'

/* '' */
.medic-icon-bank:before
  content: '\e8a6'

/* '' */
.medic-icon-smile:before
  content: '\e8a7'

/* '' */
.medic-icon-frown:before
  content: '\e8a8'

/* '' */
.medic-icon-meh:before
  content: '\e8a9'

/* '' */
.medic-icon-graduation-cap:before
  content: '\e8aa'

/* '' */
.medic-icon-android:before
  content: '\e8ab'

/* '' */
.medic-icon-apple:before
  content: '\e8ac'

/* '' */
.medic-icon-instagramm:before
  content: '\e8ad'

/* '' */
.medic-icon-html5:before
  content: '\e8ae'

/* '' */
.medic-icon-windows:before
  content: '\e8af'

/* '' */
.medic-icon-youtube:before
  content: '\e8b0'

/* '' */
.medic-icon-wechat:before
  content: '\e8b1'

/* '' */
.medic-icon-youtube-play:before
  content: '\e8b2'

/* '' */
.medic-icon-trello:before
  content: '\e8b3'

/* '' */
.medic-icon-linkedin-squared:before
  content: '\e8b4'

/* '' */
.medic-icon-linkedin:before
  content: '\e8b5'

/* '' */
.medic-icon-wheelchair:before
  content: '\e8b6'

/* '' */
.medic-icon-extinguisher:before
  content: '\e8b7'

/* '' */
.medic-icon-bullseye:before
  content: '\e8b8'

/* '' */
.medic-icon-cube:before
  content: '\e8b9'

/* '' */
.medic-icon-cubes:before
  content: '\e8ba'

/* '' */
.medic-icon-tree:before
  content: '\e8bb'

/* '' */
.medic-icon-lifebuoy:before
  content: '\e8bc'

/* '' */
.medic-icon-coffee:before
  content: '\e8bd'

/* '' */
.medic-icon-food:before
  content: '\e8be'

/* '' */
.medic-icon-beer:before
  content: '\e8bf'

/* '' */
.medic-icon-sitemap:before
  content: '\e8c0'

/* '' */
.medic-icon-spinner:before
  content: '\e8c1'

/* '' */
.medic-icon-gauge:before
  content: '\e8c2'

/* '' */
.medic-icon-sort-name-up:before
  content: '\e8c3'

/* '' */
.medic-icon-sort-name-down:before
  content: '\e8c4'

/* '' */
.medic-icon-sort-number-up:before
  content: '\e8c5'

/* '' */
.medic-icon-sort-alt-down:before
  content: '\e8c6'

/* '' */
.medic-icon-sort-alt-up:before
  content: '\e8c7'

/* '' */
.medic-icon-tasks:before
  content: '\e8c8'

/* '' */
.medic-icon-cab:before
  content: '\e8c9'

/* '' */
.medic-icon-circle-notch:before
  content: '\e8ca'

/* '' */
.medic-icon-circle-thin:before
  content: '\e8cb'

/* '' */
.medic-icon-circle-empty:before
  content: '\e8cc'

/* '' */
.medic-icon-circle:before
  content: '\e8cd'

/* '' */
.medic-icon-check-empty:before
  content: '\e8ce'

/* '' */
.medic-icon-check:before
  content: '\e8cf'

/* '' */
.medic-icon-scissors:before
  content: '\e8d0'

/* '' */
.medic-icon-columns:before
  content: '\e8d1'

/* '' */
.medic-icon-table:before
  content: '\e8d2'

/* '' */
.medic-icon-suitcase:before
  content: '\e8d3'

/* '' */
.medic-icon-briefcase:before
  content: '\e8d4'

/* '' */
.medic-icon-paste:before
  content: '\e8d5'

/* '' */
.medic-icon-thumbs-up-alt:before
  content: '\e8d6'

/* '' */
.medic-icon-thumbs-down-alt:before
  content: '\e8d7'

/* '' */
.medic-icon-download:before
  content: '\e8d8'

/* '' */
.medic-icon-upload:before
  content: '\e8d9'

/* '' */
.medic-icon-download-cloud:before
  content: '\e8da'

/* '' */
.medic-icon-upload-cloud:before
  content: '\e8db'

/* '' */
.medic-icon-thumbs-down:before
  content: '\e8dc'

/* '' */
.medic-icon-thumbs-up:before
  content: '\e8dd'

/* '' */
.medic-icon-flag-empty:before
  content: '\e8de'

/* '' */
.medic-icon-flag:before
  content: '\e8df'

/* '' */
.medic-icon-retweet:before
  content: '\e8e0'

/* '' */
.medic-icon-quote-left:before
  content: '\e8e1'

/* '' */
.medic-icon-quote-right:before
  content: '\e8e2'

/* '' */
.medic-icon-code:before
  content: '\e8e3'

/* '' */
.medic-icon-export:before
  content: '\e8e4'

/* '' */
.medic-icon-export-alt:before
  content: '\e8e5'

/* '' */
.medic-icon-direction:before
  content: '\e8e6'

/* '' */
.medic-icon-attention-circled:before
  content: '\e8e7'

/* '' */
.medic-icon-attention-alt:before
  content: '\e8e8'

/* '' */
.medic-icon-bell-alt:before
  content: '\e8e9'

/* '' */
.medic-icon-bell:before
  content: '\e8ea'

/* '' */
.medic-icon-chat-empty:before
  content: '\e8eb'

/* '' */
.medic-icon-music:before
  content: '\e8ec'

/* '' */
.medic-icon-search:before
  content: '\e8ed'

/* '' */
.medic-icon-edit:before
  content: '\e8ee'

/* '' */
.medic-icon-gamepad:before
  content: '\e8ef'

/* '' */
.medic-icon-keyboard:before
  content: '\e8f0'

/* '' */
.medic-icon-print:before
  content: '\e8f1'

/* '' */
.medic-icon-forward:before
  content: '\e8f2'

/* '' */
.medic-icon-reply-all:before
  content: '\e8f3'

/* '' */
.medic-icon-reply:before
  content: '\e8f4'

/* '' */
.medic-icon-star-half:before
  content: '\e8f5'

/* '' */
.medic-icon-angle-double-left:before
  content: '\e8f6'

/* '' */
.medic-icon-angle-double-right:before
  content: '\e8f7'

/* '' */
.medic-icon-angle-circled-down:before
  content: '\e8f8'

/* '' */
.medic-icon-angle-double-up:before
  content: '\e8f9'

/* '' */
.medic-icon-angle-double-down:before
  content: '\e8fa'

/* '' */
.medic-icon-sort-down:before
  content: '\e8fb'

/* '' */
.medic-icon-rocket:before
  content: '\e8fc'

/* '' */
.medic-icon-bug:before
  content: '\e8fd'

/* '' */
.medic-icon-key:before
  content: '\e8fe'

/* '' */
.medic-icon-book:before
  content: '\e8ff'

/* '' */
.medic-icon-barcode:before
  content: '\e900'

/* '' */
.medic-icon-list-alt:before
  content: '\e901'

/* '' */
.medic-icon-qrcode:before
  content: '\e902'

/* '' */
.medic-icon-off:before
  content: '\e903'

/* '' */
.medic-icon-ellipsis-vert:before
  content: '\e904'

/* '' */
.medic-icon-ellipsis:before
  content: '\e905'

/* '' */
.medic-icon-terminal:before
  content: '\e906'

/* '' */
.medic-icon-puzzle:before
  content: '\e907'

/* '' */
.medic-icon-pinterest-circled:before
  content: '\e908'

/* '' */
.medic-icon-pinterest-squared:before
  content: '\e909'

/* '' */
.medic-icon-youtube-squared:before
  content: '\e90a'

/* '' */
.medic-icon-skype:before
  content: '\e90b'

/* '' */
.medic-icon-blank:before
  content: '\e90c'

/* '' */
.medic-icon-lemon:before
  content: '\e90d'

/* '' */
.medic-icon-shield:before
  content: '\e90e'

/* '' */
.medic-icon-dollar:before
  content: '\e90f'

/* '' */
.medic-icon-fork:before
  content: '\e910'

/* '' */
.medic-icon-ticket:before
  content: '\e911'

/* '' */
.medic-icon-chart-bar:before
  content: '\e912'

/* '' */
.medic-icon-pencil:before
  content: '\e913'

/* '' */
.medic-icon-ok:before
  content: '\e914'

/* '' */
.medic-icon-ok-circled2:before
  content: '\e915'

/* '' */
.medic-icon-ok-squared:before
  content: '\e916'

/* '' */
.medic-icon-heart-empty:before
  content: '\e917'

/* '' */
.medic-icon-heart:before
  content: '\e918'

/* '' */
.medic-icon-mail-squared:before
  content: '\e919'

/* '' */
.medic-icon-share:before
  content: '\e91a'

/* '' */
.medic-icon-glass:before
  content: '\e91b'

/* '' */
.medic-icon-camera-alt:before
  content: '\e91c'

/* '' */
.medic-icon-th-large:before
  content: '\e91d'

/* '' */
.medic-icon-th:before
  content: '\e91e'

/* '' */
.medic-icon-th-list:before
  content: '\e91f'

/* '' */
.medic-icon-pencil-squared:before
  content: '\e920'

/* '' */
.medic-icon-doc:before
  content: '\e921'

/* '' */
.medic-icon-trash:before
  content: '\e922'

/* '' */
.medic-icon-file-pdf:before
  content: '\e923'

/* '' */
.medic-icon-sliders:before
  content: '\e924'

/* '' */
.medic-icon-basket:before
  content: '\e925'

/* '' */
.medic-icon-calendar:before
  content: '\e926'

/* '' */
.medic-icon-calendar-empty:before
  content: '\e927'

/* '' */
.medic-icon-login:before
  content: '\e928'

/* '' */
.medic-icon-logout:before
  content: '\e929'

/* '' */
.medic-icon-mic:before
  content: '\e92a'

/* '' */
.medic-icon-mute:before
  content: '\e92b'

/* '' */
.medic-icon-volume-off:before
  content: '\e92c'

/* '' */
.medic-icon-volume-down:before
  content: '\e92d'

/* '' */
.medic-icon-volume-up:before
  content: '\e92e'

/* '' */
.medic-icon-wrench:before
  content: '\e92f'

/* '' */
.medic-icon-menu:before
  content: '\e930'

/* '' */
.medic-icon-fax:before
  content: '\e931'

/* '' */
.medic-icon-rss-squared:before
  content: '\e932'

/* '' */
.medic-icon-rss:before
  content: '\e933'

/* '' */
.medic-icon-share-squared:before
  content: '\e934'

/* '' */
.medic-icon-right-open:before
  content: '\e935'

/* '' */
.medic-icon-dropbox:before
  content: '\e936'

/* '' */
.medic-icon-foursquare:before
  content: '\e937'

/* '' */
.medic-icon-adn:before
  content: '\e938'

/* '' */
.medic-icon-emo-unhappy:before
  content: '\e939'

/* '' */
.medic-icon-spin4:before
  content: '\e93a'

/* '' */
.medic-icon-chrome:before
  content: '\e93b'

/* '' */
.medic-icon-firefox:before
  content: '\e93c'

/* '' */
.medic-icon-ie:before
  content: '\e93d'

/* '' */
.medic-icon-opera:before
  content: '\e93e'

/* '' */
.medic-icon-emo-laugh:before
  content: '\e93f'

/* '' */
.medic-icon-emo-thumbsup:before
  content: '\e940'

/* '' */
.medic-icon-emo-happy:before
  content: '\e941'

/* '' */
.medic-icon-emo-wink:before
  content: '\e942'

/* '' */
.medic-icon-emo-wink2:before
  content: '\e943'

/* '' */
.medic-icon-spin3:before
  content: '\e944'

/* '' */
.medic-icon-location-1:before
  content: '\e945'

/* '' */
