@import url(http://fonts.googleapis.com/css?family=Belgrano);

@import fonts
//@import iconsfont_fontawesome
@import medic-icons

@import colores_medic

@import mixins_medic
@import nib

logo_espacio_letras = 0.1em

principal_font = 'Gudea'

separator()
	border-bottom 1px dotted negro

neutral-button()
	background-color darken(gris_claro, 10%)
	color negro
	border-radius 4px	

darken-hover()
	&:hover
		background-color darken(@background-color, 20%)		

principal_background()
	background darken( gris_claro, 0%) url('http://api.thumbr.it/whitenoise-361x370.png?background=f9f9f9ff&noise=858585&density=76&opacity=13 ')
	//background darken( gris_claro, 0%) url('/static_health/textures/grey.png')
	background-attachment fixed


*, h1, h2, h3, input
	font-family principal_font, sans-serif 


body
	principal_background()
	font-size 16px	

.separator
	separator()

.principal_background
	principal_background()

.pull
	float left

.push
	float right

.less
	color gris_oscuro

.hidden
	display none !important

.top-align
	vertical-align top

.center-childs
	text-align center

.selectable 
	cursor pointer

	&:hover 
		.selectable-caption
		&.selectable-caption			
			text-decoration underline

.width600
	max-width 600px

.text-center
	text-align center

.text-right
	text-align right

.without-margin
	margin 0px

.more-bottom-margin
	margin-bottom 2em !important

.more-more-bottom-margin
	margin-bottom 15em !important

.relative
	position relative

.standout
	text-transform uppercase
	font-size 1.1em

	&.more 
		font-size 1.8em	

	&.medium
		text-transform none
		font-size 1.4em

.overshadow
	font-size 0.8em

.expand
	padding 1em

	&.more
		padding 2em

.fixed-for-mobile
	display block

	@media screen and (max-width: 768px)
		width 97.5% !important

.accepts-company
	display inline-block !important //No debería ser :S

.bottom-decorator
	border-bottom 5px solid principal

span.medic
	font-family 'ComfortaaBold'
	letter-spacing medic_espacio_letras
	font-size 1.2em
	text-transform lowercase

.clickable
	&:hover
		background-color gris_medio
		cursor pointer

		.clickable-title
			text-decoration underline

	&:active
		background-color #E8FFEC
		for side in top right bottom
			border-{side} 1px solid rgb(167, 218, 167)

.without-underline
	text-decoration none
	color negro	

.center-container
	height 100%
	margin 0px
	margin-left auto
	margin-right auto
	max-width 62.5em
	width 100%	

	&.small
		max-width 40em
	
.section-title
	text-align left
	text-transform uppercase	
	font-weight normal
	margin 0.2em 0em
	font-size 1.7em
	padding-left 0.5em
	separator()

.emergency-badge
	background-color rojocompany
	color white
	border-radius 5px

.large-text
	line-height 1.7em

.left-decorator
	with-left-decorator()

.medic-list
	padding-left 0.5em
	margin 0.2em 0px			

	li
		with-left-decorator()
		vertical-align top
		display block		
		margin-bottom 0.6em	

		&.bottom-decorator			
			with-bottom-decorator()
			border-left 0px

		&.less-padding 
			padding-top 0.05em
			padding-bottom @padding-top

		.title
			margin 0.5em 0em
			font-size 1.7em
			color negro

		.aditional
			border-bottom 1px dotted negro
			padding-bottom 0.5em
			margin-top 2em			

			& > *
				display inline-block
				vertical-align top

			.phones
				width 70%

			.markers				
				width 100% 

				@media screen and (min-width: 480px)
					width 29%

	&.large
		li
			margin-bottom 1.4em

	li.odd-list-finish
		display none

.marker
	text-transform uppercase
	color white
	padding 0em 0.4em
	text-align center
	card-shadow()

	&.emergency
		background-color rojo

	&.appointment
		background-color verde_oscuro

	&.with-margin
		margin-bottom 0.5em

	&.two-columns
		display inline-block
		width 48%

	&.expand
		padding 0.2em 0.4em

.card
	background-color white
	padding 0.5em
	box-sizing border-box
	-moz-box-sizing border-box	
	border-radius 2px 
	card-shadow()

	&.strong-shadow
		card-shadow-strong()

	// NO OLVIDAR COLOCAR UN MIXIN PARA EL BOX-SIZING y box-shadow

	&.card-large 
		margin 0.5em auto

	&.card-not-top-margin
		margin-top 0px 

	&.card-without-left-padding
		padding-left 0px

	&.more-padding-top
		padding-top 1.5em

.title-container
	font-size 1.2em	

	.principal-title
		border-bottom 3px solid negro
		display inline-block		
		margin-bottom 0px
		text-align center		
		font-size 2em		

		.less-shine
			font-style normal
			font-weight normal
			font-size 0.7em

.secondary-title
	color gris_oscuro
	font-size 1.1em
	letter-spacing .05em
	margin-top 0.3em
	text-transform uppercase

.logo
	font-family 'ComfortaaBold'
	font-weight normal
	letter-spacing logo_espacio_letras
	text-shadow rgba(0, 0, 0, 0.25) 1px 2px 0px
	color white
	text-transform lowercase
	margin 0px
	margin-bottom 0.2em

	&.neutral
		color gris_oscuro			
		text-shadow 1px 1px 0px white


@media screen and (max-width: 320px)
	.hide-for-320
		display none !important

@media screen and (max-width: 320px)
	.medic-list				

		&.one-column-small li
			width 95%
			display block

@media screen and (min-width: 480px)

	.title-container
		font-size 1.7em

	.medic-list				

		&.four-columns-almost-small li
			width 20%
			display inline-block
			min-height 2.5em

		&.two-columns-almost-small li
			width 40%
			display inline-block
			min-height 2.5em

@media screen and (max-width: 600px)
	.hide-for-600
		display none !important
	

@media screen and (min-width: 600px)
	.medic-list				

		&.four-columns-medium li
			width 20%
			display inline-block
			min-height 2.5em

		&.two-columns-medium li
			width 40%
			display inline-block
			min-height 2.5em


@media screen and (max-width: 768px)
	.hide-for-768
		display none !important


@media screen and (min-width: 768px)

	.medic-list
		
		&.four-columns-large li
			display inline-block
			width 20%

		&.three-columns-large li
			display inline-block
			width 29%

		&.two-columns-large li
			display inline-block
			width 45%

		li.odd-list-finish
			border 0px
			background-color gris_claro
			border 1px dashed #DEDEDE

			.logo
				font-size 5em
				color lighten(gris_oscuro, 55%)
				line-height (@font-size / 2em)

		//	.aditional
		//	height 1em			


	.fixed-for-mobile
		display inline-block
							
	.title-container
		font-size 1.8em

		.principal-title
			.less-shine
				font-size 0.8em