
@import url(http://weloveiconfonts.com/api/?family=entypo)
@import tarjetas_admin

margen_form = 1%
ancho_form = 48% - margen_form*2%

transforms = box-shadow 0.5s , transform 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s, -moz-transform 0.5s, -moz-box-shadow 0.5s

#servicios-forms 
	.span6				
		margin margen_form 
		width ancho_form 		
		

		&.tarjeta-servicio
			tarjeta_bordes()
			sombra_suave()				
			transiciones(transforms)
			padding 2%

			&:hover
				sombra_media()
				-webkit-transform scale(1.01,1.01);
				-moz-transform scale(1.01,1.01);
				-o-transform scale(1.01,1.01);
				transform scale(1.01,1.01);

		&.tarjeta-agregar
			tarjeta-agregar()
			height 165px
			transiciones( background-color 0.4s, border-color 0.4s, color 0.4s )
			font-family: 'entypo', sans-serif;
			color gris_claro
			text-align center
			padding-top 1.16em
			font-size 3.8em			

			*
				text-color gris_claro

			&:hover
				background-color rgb(233, 233, 233)
				border-color gris_oscuro
				color gris_oscuro
				cursor pointer				
		
		[id*=costo]
			&[type=text]
				width 30%
			&[type=checkbox]
				margin 0% 1% 10px 5%

		label[for*=costo_real]
			display inline-block

		input
			margin-bottom 10px


.row-fluid [class*=span6]:first-child
	margin-left margen_form

[class*="entypo-"]:before 
	font-family 'entypo', sans-serif;
