
@import nostd
@import variables

// Animaciones generales

.reveal-left-right
  position relative
  prefixs(animation-name, reveal-left-right)   
  prefixs(animation-duration, 0.8s)  

@keyframes reveal-left-right
  from 
    left -17em
  to
    left 0em


.hide-anim
  opacity 0
  animation hide 1s ease   

@keyframes hide
  from
    opacity 1    
  
  to
    opacity 0             
  
.show-anim
  animacion(show, 1s)

@keyframes show
  from
    opacity 0    
  
  to
    opacity 1   

.show-filtros
  animacion(show-filtros, 1s)          
   
@keyframes show-filtros
  from
    height 0em
  to
    height 2.3em



// Animaciones para el cargador

.spinner {
  margin: 1em auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spring
  prefixs(animation-name, spring) 
  prefixs(animation-iteration-count, infinite)  
  prefixs(animation-duration, 1s)
  prefixs(animation-direction, alternate) 

@keyframes spring
  0%
    prefixs( transform,  translate(0em) )
  100%    
    prefixs( transform, translate(0.3em) ) 


@keyframes hide-entry
  from{
    height entry-height   
  }
  to{
    height 0em
  }