/* medic-bar.styl

Barra general a ser mostrar en perfiles de Medic.
*/

medic_bar_height = 2.5rem

.medic-bar
	height medic_bar_height
	width 100%
	background-color principal		
	position fixed
	top 0px
	right 0px
	left 0px
	z-index 100
	sombra_seccion()	

	.mobile-back-button
		background-color verde_oscuro_more
		height 100%
		float left
		display inline-block

		span
			line-height 2.6em
			display block

		@media screen and (min-width: 768px )
			display none

	*
		color white

	& >  *
		display inline-block
		vertical-align top

	.logo
		font-size 2.1em
		padding-left 0.5em	
		height 100%	

	.complement-wrapper
		height 100%	

	.complement
		border-left 1px solid white
		padding-left 0.4em
		margin-left @padding-left
		margin-top .7em
		font-size 1.1em
		min-height 1.2em
		overflow hidden	
		display inline-block

		.slogan
			font-size 0.85em	

		.intern
			max-width 16em
			display block	
			overflow ellipsis

			@media screen and (max-width: 600px)
				max-width 12em

			@media screen and (max-width: 480px)
				max-width 9em

			@media screen and (max-width: 320px)
				max-width 6em

	.search		
		width 50%
		height 100%

		input			
			background-color white 
			font-size 1.2em
			width 90%
			height 100%
			border 0px
			margin 0px
			padding 0px
			outline none

.medic-nav-bar	
	display inline-block
	background-color verde_oscuro_more
	box-shadow 1px 1px 2px 0px rgba(0, 0, 0, 0.45)

	@media screen and (max-width: 768px) and (min-width: 480px)
		background-color transparent
		box-shadow none 
		margin-top 0.3em	

	&.on-top
		border-radius bottom 10px

	&.on-bottom
		border-radius top 10px

	li
		display inline-block
		padding 0.35em 0em
		float left

		&:first-child a
			border-left 0px

		&:last-child a
			border-right 0px

	a
		text-decoration none
		color white
		padding 0em 0.8em
		border-left 1px solid #3BA01D

		&.unique
			padding-left .4em

		@media screen and (max-width: 768px)
			border-right 0px 

		&:hover
			text-decoration underline			


	&.fixed-to-bottom
		position relative
		bottom 0