
decorator_width = 3px

with-left-decorator()
	border-left decorator_width solid principal
	padding 1em

with-bottom-decorator()
	border-bottom decorator_width solid principal
	padding 1em

card-shadow()
	box-shadow 1px 1px 3px rgba(0,0,0,0.25)

card-shadow-strong()
	box-shadow 2px 2px 3px rgba(0,0,0,0.45)

sombra_tarjeta_medic()
	color_sombra = rgba(0,0,0,0.60)
	sombra_caja(1px, 1px, 3px, 0px, color_sombra)	


background-resplandor()
	background: transparent;
	background: -moz-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(85,255,43,0.75)), color-stop(70%, rgba(191,242,179,0)), color-stop(100%, rgba(237,237,237,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
	background: radial-gradient(ellipse at center, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);		


estilos_caja()
	background-color darken(principal, 30%)
	box-shadow 1px 1px 2px 0px rgba(0,0,0,0.45)
	

sombra_seccion(sombra_intensidad=0.45, desplazamiento_vertical=2px)
	-webkit-box-shadow 0px desplazamiento_vertical 2px 0px rgba(0,0,0,sombra_intensidad)
	-moz-box-shadow 0px desplazamiento_vertical 2px 0px rgba(0,0,0,sombra_intensidad)
	box-shadow 0px desplazamiento_vertical 2px 0px rgba(0,0,0,sombra_intensidad)

texto_encrustado()
	text-shadow rgba(255, 255, 255, 0.75) 1px 1px 0px

degradado_blanco_gris()
	background rgba(219,219,219,1)
	background -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%)
	background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)))
	background -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%)
	background -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%)
	background -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%)
	background linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%)

degradado_verde()
	background rgba(49,148,16,1)
	background -moz-linear-gradient(top, rgba(56,156,23,1) 0%, rgba(67,196,24,1) 40%, rgba(67,196,24,1) 100%)
	background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,156,23,1)), color-stop(40%, rgba(67,196,24,1)), color-stop(100%, rgba(67,196,24,1)))
	background -webkit-linear-gradient(top, rgba(56,156,23,1) 0%, rgba(67,196,24,1) 40%, rgba(67,196,24,1) 100%)
	background -o-linear-gradient(top, rgba(56,156,23,1) 0%, rgba(67,196,24,1) 40%, rgba(67,196,24,1) 100%)
	background -ms-linear-gradient(top, rgba(56,156,23,1) 0%, rgba(67,196,24,1) 40%, rgba(67,196,24,1) 100%)
	background linear-gradient(to bottom, rgba(56,156,23,1) 0%, rgba(67,196,24,1) 40%, rgba(67,196,24,1) 100%)

