// Mixins para elementos gŕaficos de Health

@import colores_admin

tarjeta_bordes()
	border solid 1px gris_claro
	border-radius 10px

sombra_suave()
	-webkit-box-shadow 6px 6px 6px -7px rgba(0,0,0,0.21)
	-moz-box-shadow 6px 6px 6px -7px rgba(0,0,0,0.21)
	box-shadow 6px 6px 6px -7px rgba(0,0,0,0.21)

sombra_media()
	-webkit-box-shadow 6px 6px 6px -3px rgba(0,0,0,0.21)
	-moz-box-shadow 6px 6px 6px -3px rgba(0,0,0,0.21)
	box-shadow 6px 6px 6px -3px rgba(0,0,0,0.21)

tarjeta-agregar(alto=165px, margin_horizontal=20px,top_pagging=1.16em)
	border dashed 0.12em gris_claro
	height alto
	transiciones( background-color 0.4s, border-color 0.4s, color 0.4s )
	font-family: 'entypo', sans-serif;
	color gris_claro
	text-align center
	padding-top top_pagging
	font-size 3.8em
	margin-top  margin_horizontal
	margin-bottom margin_horizontal

tarjeta-agregar-hover()
	  background-color: #e9e9e9;
	  border-color: #aeaeae;
	  color: #aeaeae;
	  cursor: pointer;