

@import url(http://fonts.googleapis.com/css?family=Signika)
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

@import normalize
@import variables
@import medic_base

body
	background principal !important
	padding 0.5em


.logo-wrapper
	background-resplandor()	

	h1
		font-size 7em
		margin-bottom 0px
		margin-top .3em	

	h5
		width auto
		text-transform uppercase
		margin-top 0px
		color white
		letter-spacing 1em
		font-weight normal
		border-top 1px solid white
		display inline-block
		font-size 1.8em
		padding-left 0.9em

	@media screen and (max-width: 480px)
		h1
			font-size 5em
		h5
			font-size 1.2em

.descripcion
	font-size 1.5em
	max-width 25em	
	padding 1em
	color negro
	line-height 1.6em
	margin-top 0px

.separator-dotted
	border-top 3px dotted negro
	width 15em
	display inline-block
	

.avatar-wrapper
	margin 1em

	.avatar-container
		position relative

	.avatar
		width 80px
		height 80px
		background-color gris_medio

		&.round
			border-radius 50%
			border 3px solid principal
			card-shadow-strong()

	.nombre
		font-size 1.1em
		display block

	[class^="medic-icon"]
		color transparent
		position absolute
		bottom 0px
		right 0px
		font-size 1.5em

	&:hover [class^="medic-icon"]
		color azul_twitter
		text-shadow -1px 1px 5px rgba(0,0,0,0.85) 
		

.contacto
	margin-left 0.2em
	padding-left 1em
	
	.icon
		font-size 3em

		&.twitter
			color azul_twitter

		&.facebook
			color azul_facebook

		&.correo
			color principal

	span
		line-height 3.5em
		vertical-align top
		font-size 1em

.back-button
	font-size 2.1em
	margin 1em	

	.back-button-caption
		font-size 1.3em