
@import nostd
@import colores_admin
@import mixins_health

#notificacion
	position fixed	
	bottom -120px
	left 10px
	width 240px
	height 110px
	background-color white
	bordes_redondeados_superior(10px)
	bordes_planos_inferior()
	border solid 1px gris_claro 
	border-bottom 0px
	sombra_media()
	opacity 0.8
	padding 0px
	font-size 15px

	.cabecera
		background-color green
		height 14px
		width 100%
		bordes_redondeados_superior(10px)

	.mensaje
		margin 0.5em 0.8em		

		p
			font-size 13px

	.close
		padding-left 1em
