@import medic-bar
@import colores_medic
@import mixins_medic

.info-text
	font-size 1.13em

.info-icon
	font-size 2.9em
	color negro

.service
	display inline-block
	margin-bottom 1em 
	margin-right .8em
	width auto
	font-size 1.2em

	&:before
		content " "
		background-color principal
		border-radius 50%
		width 10px
		height 10px
		display inline-block
		margin-right .8em

.aditional-info
	width 100%
	card-shadow()
	color white

	&.emergency
		background-color rojo


.schedule
	display inline-block	
	margin 0.5em 0.3em
	text-align center
	vertical-align top

	.range-time
		margin 0px		

.profile-footer
	width 100%
	height 20em
	background-color gris_oscuro
	opacity 0.2
	z-index 18
	position fixed
	bottom 0	

.medic-footer
	z-index 19
	position fixed
	bottom 20px
	left 0px
	right 0px
	font-size 3.6em
	line-height 0.75em

	.less-important
		font-size 0.3em
		color gris_oscuro
		margin 0px
		letter-spacing .05em

	.fixin
		position relative
		left: -20px
		letter-spacing .2em

	*
		text-shadow 1px 1px 0px white
		text-decoration none

	.contact
		color gris_oscuro
		font-size .8rem
		position relative
		top -1.7em

@import medic_animations

.contact-box
	display inline-block
	margin 1em
	padding 0.5em

	&.large
		width 100%
		margin-left 0px
		margin-right 0px
		padding-left 0px
		padding-right 0px

	.icon
		text-align center
		display block
		color negro
		font-size 2em

	&.phone
		neutral-button()

	&.facebook
		neutral-button()
		background-color azul_facebook
		color white
		darken-hover()

		.icon
			color white

	&.twitter
		neutral-button()
		background-color azul_twitter
		color white
		darken-hover()

		.icon
			color white

	&.email
		neutral-button()
		background-color email_color
		color white
		darken-hover()

		.icon
			color white

.web
	width 100%
	display inline-block
	text-align center
	font-size 1.2em
	letter-spacing 0.1em
	overflow ellipsis

	a&
		color negro

.profile-container
	padding 0.5em
	box-shadow 0px 2px 3px rgba(0,0,0,0.25)
	position relative
	z-index 20
	margin-top medic_bar_height