
// Tamaños: 320px, 480px, 600px, 768px, 1024px, 1200px

.responsive-helper
	height 20px
	width 100px
	position fixed
	bottom 0px
	right 0px
	background-color blue
	color white
	text-align center
	z-index 100
	
	@media screen and (min-width: 1200px)
		background-color lighten(blue, 80%)
		color darken(white, 60%)

		&:after
			content '+1200px'

	@media screen and (max-width: 1200px)
		background-color lighten(blue, 60%)
		&:after
			content 'max. 1200px'

	@media screen and (max-width: 1024px)
		background-color lighten(blue, 40%)
		&:after
			content 'max. 1024px'

	@media screen and (max-width: 768px)
		background-color lighten(blue, 20%)
		&:after
			content 'max. 768px'

	@media screen and (max-width: 600px)
		background-color lighten(blue, 0%)
		&:after
			content 'max. 600px'

	// @media screen and (max-width: 540px)
	// 	background-color lighten(blue, 0%)
	// 	&:after
	// 		content 'max. 540px'

	@media screen and (max-width: 480px)
		background-color darken(blue, 20%)
		&:after
			content 'max. 480px'

	@media screen and (max-width: 320px)
		background-color darken(blue, 40%)
		&:after
			content 'max. 320px'