
@import nostd
@import mixins_health
@import colores_admin

// Estilos para estilos de tarjetas

.model-form
	display none

cambios_tarjeta = box-shadow 0.5s , transform 0.5s, 

.tarjeta-admin
	tarjeta_bordes()
	sombra_suave()
	transicion(cambios_tarjeta)
	padding 2%

	&:hover
		sombra_media()
		escalar_cuadrado(1.01)

//	input[id$=DELETE]
//		display none;

bloque_dias_superior = 95% / 7%
bloque_dias_inferior = 99% / 4%

.dias_input ul
	li
		display inline-block		
		width bloque_dias_superior
		padding-bottom 2%

		label
			color gris_oscuro_dos
			text-align center
			border 1px solid gris_oscuro
			border-radius 3%
			padding 3%
			background-color gris_mas_claro

			&.seleccionado
				color white
				font-weight bolder
				background-color verde_oscuro
				border-color verde_claro

			&.inhabilitado
				border 1px dashed gris_claro
				color gris_claro

		input[type=checkbox]			
			display none

		&:nth-child(8)
			padding 0%
			padding-left bloque_dias_inferior 
			width bloque_dias_inferior
			
		&:nth-child(9)
			padding 0%
			padding-right bloque_dias_inferior 					
			width bloque_dias_inferior


