{% load utils %}
{% block tags %}
    
{% endblock tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html id="medic_inicio" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html id="medic_inicio" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html id="medic_inicio" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html id="medic_inicio" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico?v=1.1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">     

        <meta property="og:image" content="{{STATIC_URL}}img/facebook-thumbnail.jpg">   
        {% block facebook_metas %}
                
        {% endblock facebook_metas %} 

        <title>

            {% block titulo %}
                {% comment %}
                    Título de la página
                {% endcomment %}
            {% endblock titulo %}

            
        </title>        
        
        <meta name="description" content="¿Necesita encontrar algún servicio médico? Entonces más que un directorio médico o páginas amarillas usted necesita nuestro buscador médico. Tenga a su disposición la base de datos más grande de servicio médicos en Venezuela.">
        <meta name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no">            

        {% block css_base %}
            {% comment %}
                Este es el bloque para agregar los css que conforma la base del módulo en cuestion
            {% endcomment %}
        {% endblock css_base %}
        

        {% block css %}
            {% comment %}
                Este es el bloque para agregar los css específicos para una plantilla
            {% endcomment %}
        {% endblock css %}

        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

                
        {% block cuerpo %}
            {% comment %} Cuerpo de la página {% endcomment %}
        {% endblock cuerpo %}                              
        
    
        {% block js_base %}
             {% comment %}
               Este es el bloque para los archivos javascripts del módulo en cuestion
           {% endcomment %}
        {% endblock js_base %}

        {% block js %}
           {% comment %}
               Este es el bloque para los archivos javascripts específicos para una plantilla
           {% endcomment %}
        {% endblock js %}
    </body>
</html>
