{% extends "base.html" %}

{% block titulo_seccion %}
	Cambio de ganancia
{% endblock titulo_seccion %}

{% block descripcion %}
	Registro del cambio en ganancia de un integrante.
{% endblock descripcion %}

{% block contenido %}

	<form action="" method="post">{% csrf_token %}
		<fieldset>

			{% for field in formulario %}
				{{field.label_tag}}
				{{field}}
				<span class="help-block">{{field.help_text}}</span>
			{% endfor %}			
		</fieldset>
		<button type="submit" class="btn">Registrar</button>
	</form>

	
	
{% endblock contenido %}