{% extends "base.html" %}


{% block titulo_seccion %}
	Mis depósitos
{% endblock titulo_seccion %}

{% block descripcion %}
	Consulta y registra tus aportes al fondo de capital de Medic.
{% endblock descripcion %}

{% block contenido %}

	<div class="row" style="padding-bottom: 20px">
		<div class="span4">
			<strong>Tu aporte:</strong> {{total_aportado}} Bs.
			
		</div>
		<div class="span4">			
			<strong>Meses transcurridos:</strong> {{meses}}	meses		 
		</div>
	</div>

	{% if deuda > 0 %}
		<div class="alert">
			<strong>Posees una deuda</strong> de Bs. {{deuda}} correspondiente a {{meses_deuda}} meses.
			
		</div>		
	{% endif %}

	<a href="#DepositoForm" role="button" class="btn btn-success" data-toggle="modal">
		<i class="icon-plus-sign icon-white"></i>  Registrar depósito
	</a>

	<div id="DepositoForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Registro de aporte de capital</h3>
		 </div>
		 <div class="modal-body">

		 	<form action="" class="form-horizontal" method="post"> {% csrf_token %}
		 		{% for f in form %}
					<div class="control-group">
						<label for="id_{{f.html_name}}" class="control-label">{{f.label}}</label>
						
						<div class="controls">
							{% if f.html_name == "monto" %}
								<div class="input-prepend">									
									<span class="add-on">Bs.</span>
									{{f}}									
								</div>
							{% else %}								
								{{f}}								
							{% endif %}
							<span class="help-block">{{f.help_text}}</span>							
						</div>	
						
					</div>
				{% endfor %}	 		
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-success" type="submit">Registrar</button>	
					</div>
				</div>				
		 	</form>			
		 </div>
	</div>
	
{% comment %}
	Tabla de depositos del integrante
{% endcomment %}
	
	<table class="table">
		<thead>
			<tr>
				<th>Código</th>
				<th>Fecha</th>										
				<th>Monto (Bs.)</th>										
				<th>Validado</th>
			</tr>
		</thead>
		<tbody>
			{% for d in depositos %}
				<tr>
					<td>{{d.num_operacion}}</td>	
					<td>{{d.fecha_realizacion}}</td>										
					<td>{{d.monto}}</td>									
					<td>
						{% if d.revisado %}
							<span class="badge badge-success">Si</span>
						{% else %}
							<span class="badge badge-important">No</span>
						{% endif %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan=4 style="text-align:center">Aun no has realizado algún aporte.</td>
				</tr>				
			{% endfor %}	
		</tbody>
	</table>

	
		
	
	
{% endblock contenido %}