{% extends "base.html" %}

{% block titulo_seccion %}
	Estado de ganancias
{% endblock titulo_seccion %}

{% block descripcion %}
	Consulta el estado de las ganancias del proyecto medidas en porcentajes(%).
{% endblock descripcion %}

{% block contenido %}	

	<div class="row">
		<div class="span12">
			<h3>Retenido: {{retenido}} %</h3>
		</div>

	</div>

	{% for i in integrantes  %}
		{% cycle '<div class="row-fluid">' '' '' %}

		<div class="span4 well">
			<div class="span3">
				<img src="{{MEDIA_URL}}{{i.foto}}" alt="">
			</div>
			<div class="span6 equipo">
				<h5>
					{% with i.user.first_name|add:i.user.last_name as nombre_completo  %}
						{{i.user.first_name}}
						{% if nombre_completo|length >= 15 %}					    
							{{i.user.last_name|first}}.
						{% else %}
							{{i.user.last_name}} 
					{% endif %}					
					{% endwith %}
														
					<br/>	
				</h5>				
				{{i.nm_cargo}} <br/>
				<h5 class="{{i.equipo}}">
					{{i.nm_equipo}}		
				</h5>
				
			</div>
			<div class="span3">
				<h3 style="text-align: right;">					
					{{i.ganancia}}							
				</h3>				
			</div>
		</div>
	
		{% cycle '' '' '</div>' %}
		
	{% endfor %}	
	
{% endblock contenido %}