
{% if integrante %}
    <ul class="nav">                                                        
        <li class="divider-vertical"></li>  
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Datamark <b class="caret"></b></a>
            <ul class="dropdown-menu">
               {% include "dm-menu_items.html" %}
            </ul>
        </li>      
        {# <li class="divider-vertical"></li>   #}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pollmark<b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% include "pm-menu_items.html" %}
            </ul>
        </li> 
        {# <li class="divider-vertical"></li>   #}     
    </ul>    
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><a href="{% url 'base.views.cerrar' %}">Cerrar sesión</a></li>
    </ul>
{% endif %}

