
{% comment %}
	Pequeña sección que muestra la información del usuario logeado en Health.
{% endcomment %}

{% if integrante %}
	<div id="usuario" class="well equipo">

		<div class="row-fluid">
			<div class="span4">
				<img src="{{MEDIA_URL}}{{integrante.foto}}" alt="Tu foto" height="50px" class="img-rounded"></img>	
			</div>			
			<div class="span7 foto">
				<h4>{{integrante.user.first_name}} {{integrante.user.last_name}}</h4>				
				{{integrante.nm_cargo}} <br/>
				<h5 class="{{integrante.equipo}}">{{integrante.nm_equipo}}</h5>				
				Ganancia: {{integrante.ganancia}} %	
			</div>	
		</div>
						
	</div>	
{% endif %}
