{% extends "base.html" %}

{% block titulo_seccion %}
	Bienvenido a Health, {{integrante.user.first_name}}
{% endblock titulo_seccion %}

{% block descripcion %}

	Sistema Administrativo de Proyecto Medic.
	
{% endblock descripcion %}

{% block contenido %}

	{% if cita  %}
		<div class="row-fluid">
			<div class="span12">
				<h3 >Recuerda hoy que...</h3>			
			</div>
		</div>
		<div class="row-fluid">				
			<div class="span4"></div>		
			<div class="span8">
				<blockquote id="cita-del-dia" class="pull-right">
					<p>"{{cita.cita}}"</p>
					<small><cite>{{cita.autor}}</cite></small>
					<small class="cita-enviado">Enviado por {{cita.enviado_por.first_name}} {{cita.enviado_por.last_name}}</small>
				</blockquote>	
			</div>
		</div>		
	{% endif %}
	
	
{% endblock contenido %}

