{% extends "boilerplate.html" %}

{% comment %}
	Cuerpo general para cualquier módulo en Health.
	Especifica que a la izquierda debe haber una descripción del usuario logeado,
	un menú con las secciones del módulo seleccionado y a la derecha el contenido de las secciones.
{% endcomment %}

{% block titulo %}
	Health: {% block titulo_modulo %}{% endblock titulo_modulo %} 
{% endblock titulo %}

{% block css_base %}

		{% load utils %}

		{% local_css "bootstrap.min.css" %}
		{% local_css "bootstrap-responsive.min.css" %}
		{% local_css "main.css" %}
		{% local_css "jquery-ui-1.10.2.custom.min.css" %}			   
        {% local_css "notificaciones.css" %}

        <style>
	        body{
				padding-top: 60px;
		    	padding-bottom: 40px;	
			}
		</style>

	
{% endblock css_base %}

{% block cuerpo %}

	<div id="top-bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'base.views.inicio' %}">Health</a>
                <div class="nav-collapse collapse">
                    {% comment %} Elementos del menú superior {% endcomment %}
                    {% include "in-nav_top.html" %} 
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    	
    	<div class="row">
			
			<div class="span3">
				
				{% comment %}Sección del usuario logeado{% endcomment %}
				{% include "in-usuario_info.html" %}

				{# Menú lateral #}

				<div id="menu-lateral" class="well">
					<ul class="nav nav-list">					
						{% block menu_items %}
							{# Items del menu del modulo accesado.  #}
						{% endblock menu_items %}			
					</ul>	
				</div>						
			</div>

			{# Sección del contenido de la página #}
			<div class="span9">
				<div class="page-header">								
					
					<h2>
						{# Título de la página #}
						{% block titulo_seccion %}{% endblock titulo_seccion %}		
					</h2>			
					<p>
						{# Descripción de la página #}
						{% block descripcion %}{% endblock descripcion %}		
					</p>												
				</div>
				<p>
					{# Contenido de la página #}
					{% block contenido %} {% endblock contenido %}
				</p>
			</div>		
		</div>

		<hr>

	    <footer>
	        <p>&copy; Proyecto Medic 2013</p>
	    </footer>

    </div>

	{% comment %}
        Panel de notificaciones
    {% endcomment %}
    <div id="notificacion">
        <div class="cabecera"></div>        
        <div class="mensaje">
            <div class="close">&times;</div>
            <p> </p>
        </div>      
    </div>
	
{% endblock cuerpo %}

{% block js_base %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.3.min.js"><\/script>')</script> 
          
        <script src="{{STATIC_URL}}js/plugins.js"></script>
        {% local_js "vendor/underscore-min" %}
		{% local_js "vendor/bootstrap.min" %}
		{% local_js "main" %}
        {% local_js "notificaciones" %}
{% endblock js_base %}