{% extends "base.html" %}

{% block cuerpo %}

	<div class="row">
		<div class="span12">
			<form id="logeo" action="" method="post" class="well">{% csrf_token %}
				<fieldset>					
					<legend>
						Ingreso a Health
						
					</legend>					
					{{auth_form.non_field_errors}}
					{{auth_form.username.errors}}
					{{auth_form.password.errors}}
					{{auth_form}}
					<br/>
					<div class="divider"></div>
					<button type="submit" class="btn btn-primary btn-block">Ingresar</button>					
				</fieldset>		
			</form>	
		</div>
	</div>
	
{% endblock cuerpo %}