{% comment %}
      Elementos o items del menú de Base de Health
{% endcomment %}

<li><a href="{% url 'base.views.inicio' %}"> <i class="icon-home"></i> Inicio</a></li>                                    
<li class="divider"></li>
<li class="nav-header">General</li>
<li><a href="#"><i class="icon-user"></i>  Mi perfil</a></li>
<li><a href="{% url 'base.views.depositos' %}"><i class="icon-plus"></i> Mis depósitos</a></li>
<li><a href="{% url 'base.views.estado_ganancias' %}"><i class="icon-signal"></i> Estado de ganancias </a></li>

{% if user.integrante.es_lider %}
        <li class="divider"></li>
        <li class="nav-header">Líderes</li>
        <li><a href="{% url 'base.views.cambio_ganancia' %}"><i class="icon-refresh">  </i>Cambiar ganancia</a></li>
        <li><a href="#"><i class="icon-align-left">  </i>Rendimiento del equipo</a></li>        
{% endif %}

<li class="divider"></li>
<li class="nav-header">Otros</li>
<li><a href="{% url 'base.views.registrar_cita' %}"><i class="icon-book"></i>  Aportar cita</a></li>