{% extends "base.html" %}

{% block titulo_seccion %}
	Aportar cita 
{% endblock titulo_seccion %}

{% block descripcion %}
	¿Te ha gustado algún pensamiento? Registra una cita interesante para todos los integrantes del Proyecto Medic
{% endblock descripcion %}

{% block contenido %}

	<form action="" class="form-horizontal" method="post">{% csrf_token %}

		{% for c in cita_form  %}
			
			<div class="control-group">
				<label class="control-label" for="id_{{c.html_name}}">{{c.label}}</label>
				<div class="controls">
					{{c}}
					<span>{{c.errors}}</span>
					<span class="help-block">{{c.help_text}}</span>
				</div>				
			</div>
			
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-success" type="submit">Registrar cita</button>	
			</div>
		</div>		
	</form>	
	
{% endblock contenido %}