{% verbatim %}
		<div id="templates">

			<a data-order="0" data-template-locator="doctor_card" href="{{usuario}}">
				<header class="doctor-header-{{header_img}}">
					<h3>{{#titulo}}{{titulo}}. {{/titulo}}{{nombre}} {{apellido}}</h3>
					<h4 class="especialidades">
						{{#especialidades}}
							{{nombre_especialista}}
						{{/especialidades}}
					</h4>	
				</header>											 
				<section class="servicios">
					<p>
						{{servicios}}
					</p>					
				</section>
				
				<div class="pie">
					<p class="web">
						{{web}} 
					</p>
				</div>					
			</a>	

			<article data-order="0" data-template-locator="doctor_card_joined">											 
				<div class="cuerpo">
					<div>							
						 <img class="doctor_shot" src="{{url_foto}}">
					</div>
					<div>
						<header>
							<h3>{{#titulo}}{{.}}. {{/titulo}}{{nombre}} {{apellido}}</h3>
							<h4 class="especialidades">
								{{#especialidades}}
									{{especialista}}
								{{/especialidades}}
							</h4>		
						</header>
						
						<section class="servicios">
							{{servicios	}}
						</section>
					</div>
				</div>
				<div class="pie">
					<p>
						{{correo}} {{#telefonos}} - {{.}} {{/telefonos}} {{#twitter}}- @{{.}} {{/twitter}}	
					</p>
				</div>					
			</article>

			<article data-order="0" data-template-locator="institution_card">											 
				<header class="institution-header-{{header_img}}">
					
					<h3>{{nombre}}</h3>	
										
					<p>{{descripcion_corta}}</p>
				</header>
				<section class="servicios">
					<p>
						{{servicios}}
					</p>					
				</section>
				<section class="contactos">
					<section class="phones">
						<ul>
							{{#telefonos}}
							<li>
								<i class="medic-icon-phone"></i>{{.}}
							</li>								
							{{/telefonos}}
						</ul>
					</section>
					<section class="online">
						<ul>
							{{#correo}}
							<li class="correo">
								{{correo}} <i class="medic-icon-mail-alt"></i>
							</li>
							{{/correo}}
							{{#twitter}}
							<li class="twitter">
								@{{twitter}}<i class="medic-icon-twitter"></i>
							</li>
							{{/twitter}}

							{{#facebook}}
							<li class="facebook">
								fb/{{facebook}}<i class="medic-icon-facebook"></i>
							</li>
							{{/facebook}}
						</ul>
					</section>
				</section>
				<section class="web">
					<p>{{web}}</p>
				</section>
			
				<section class="badges">
					{{#emergencias}}
					<p class="emergencies">
						Emergencias 24 hrs.
					</p>
					{{/emergencias}}
				</section>
			</article>	

			<article data-order="0" data-template-locator="institution_card_joined">											 
				<header>					
					<h3>{{nombre}}</h3>										
					<p>{{descripcion_corta}}</p>
				</header>
				<section class="servicios">
					<p>
						{{servicios}}	
					</p>					
				</section>
				<section class="contactos">
					<section class="phones">
						<ul>
							{{#telefonos}}
							<li>
								<i class="fontawesome-phone"></i>{{.}}
							</li>								
							{{/telefonos}}
						</ul>
					</section>
					<section class="online">
						<ul>
							<li class="correo">
								{{correo}} <i class="fontawesome-envelope-alt"></i>
							</li>
							<li class="twitter">
								@{{twitter}}<i class="fontawesome-twitter"></i>
							</li>
							<li class="facebook">
								fb/{{facebook}}<i class="fontawesome-facebook-sign"></i>
							</li>
						</ul>
					</section>
				</section>
				<section class="web">
					<p>{{web}}</p>
				</section>
			</article>	
			
			
		</div>	
	{% endverbatim %}