	
{% extends "profile_base.html" %}

{% block entity_title %}
	{{entity.titulo_con_sexo}}. {{entity.nombre}} {{entity.apellido}} - 
	{% for s in entity.especialidades.all %}
		{{s.nombre_especialista}}
		{% if forloop.last %}
			
		{% else %}
			,
		{% endif %}
	{% endfor %}
{% endblock entity_title %}

{% block profile_css %}
	{% load utils %}
	{% local_css "doctor_profile" %}
	
{% endblock profile_css %}

{% block profile_design %}

	{% comment %}
		<div class="responsive-helper"></div>	
	{% endcomment %}
	
	<header class="center-container card card-large card-not-top-margin center-childs bottom-decorator ">
		<div class="title-container">
			<h1 class="principal-title" id="title">
				<span class="less-shine">{{entity.titulo_con_sexo}}. </span>
				{{entity.nombre}} {{entity.apellido}}
			</h1>	
			<h2 class="secondary-title">
				{% for s in entity.especialidades.all %}
					{{s.nombre_especialista}}
				{% endfor %}
			</h2>
		</div>
		
		{% if entity.presentacion and entity.presentacion != "" %}
			<p>
				{{entity.presentacion}}
			</p>	
		{% endif %}
		
	</header>	


	{% if entity.servicios %}
		<div class="center-container card card-large card-not-top-margin center-childs more-padding-top">
			
				{% for s in entity.servicios_readable  %}
					<div class="service">{{s}}</div>
				{% endfor %}
			
		</div>	
	{% endif %}

	{% if entity.adicional %}
		<div class="center-container card card-large card-without-left-paddging center-childs">			
			<i class="medic-icon-info-circled info-icon"></i>
			<p class="large-text accepts-company top-align info-text">
				{{ entity.adicional }}	
			</p>
		</div>
	{% endif %}
	
	{% if entity.consulta_set.count > 0 %}
		<div class="center-container card card-large">
			<h3 class="section-title">Consultas</h3>
			<ul class="medic-list large two-columns-large">

				{% for consulta in entity.consulta_set.all %}					
					<li class="less-padding {% if consulta.establecimiento %}
						clickable
					{% endif %}">		
						{% if consulta.establecimiento %}
						<a href="/{{consulta.establecimiento.usuario}}" class="without-underline">
						{% endif %}

							<h4 class="title institution {% if consulta.establecimiento%}
									clickable-title
							{% endif %}" >
								{% if consulta.establecimiento %}																	
									{{consulta.establecimiento.nombre}}	
											
								{% else %}
									{{consulta.nombre_sitio}}
								{% endif %}
								
							</h4>
							<p>
								{{consulta.establecimiento.direccion}} {{consulta.detalle_sitio}}{% if consulta.establecimiento %}, {{consulta.establecimiento.ciudad.descripcion}}{% endif %}.
							</p>

							<div class="aditional">

								<div class="phones fixed-for-mobile">
									{% if consulta.telefono_consultorio %}
										<div class="fixed-for-mobile">
											<span class="medic-icon-phone"></span>	
											({{consulta.establecimiento.ciudad.codigo_area}}) {{consulta.telefono_consultorio}}	
										</div>
										
									{% endif %}

									{% if consulta.extension_telefono %}

										<div class="fixed-for-mobile">
											<span class="medic-icon-phone"></span>									
											({{consulta.establecimiento.ciudad.codigo_area}}) {{consulta.establecimiento.telefono_establecimiento_set.all.0.telefono}}
											(Ext. {{consulta.extension_telefono}})	
										</div>
										
									{% endif %}
								</div>
															
								<div class="markers fixed-for-mobile">
									{% if consulta.previa_cita %}
										<div class="marker push appointment">
											Previa cita
										</div>	
									{% endif %}	
								</div>
								
								
							</div>	


							<div class="center-childs">
								{% for bloque in consulta.bloque_consulta_set.all  %}								
									<div class="schedule">
										{{bloque.dias_readable}}
										{% if bloque.emergencias %}
											<span class="medic-icon-ambulance emergency-badge"></span>
										{% endif %}
										<p class="range-time">			
											{% include "horario_block.html" with bloque=bloque %}
																			
										</p>
									</div>	
								{% endfor %}
							</div>	
						{% if consulta.establecimiento %}		
						</a>				
						{% endif %}
																			
					</li>					
				{% endfor %}

				{% if  not entity.consulta_set.all.count|divisibleby:2 %}
					<li class="less-padding odd-list-finish center-childs">
						<span class="logo neutral">
							medic
						</span>
					</li>	
				{% endif %}
				

			</ul>
		</div>
	{% endif %}
	

	<div class="center-container card card-large center-childs more-bottom-margin">

		{% if entity.has_contacts %}
			<h3 class="section-title">Contactos</h3>
			<div class="center-childs separator">

				{% for t in entity.telefono_doctor_set.all %}
					<div class="contact-box phone">
						<span class="icon medic-icon-phone"></span>
						{{t.telefono}}
					</div>	
				{% endfor %}
						
				{% if entity.facebook %}
					<a class="contact-box facebook" href="http://facebook.com/{{entity.facebook}}" target="_blank">
						<span class="icon medic-icon-facebook"></span>
						fb/{{entity.facebook}}
					</a>	
				{% endif %}
				
				{% if entity.twitter %}
					<a class="contact-box twitter" href="http://twitter.com/{{entity.twitter}}" target="_blank">
						<span class="icon medic-icon-twitter"></span>
						@{{entity.twitter}}
					</a>	
				{% endif %}
				
				{% if entity.correo %}
					<a class="contact-box email" href="mailto:{{entity.correo}}">
						<span class="icon medic-icon-mail-alt"></span>
						{{entity.correo}}
					</a>	
				{% endif %}
				
			</div>
		{% endif %}
		<div class="contact-box large">
			
			<a class="web" href="
			http://{% if entity.web %}
					www.{{entity.web}}
				{% else %}
					medic.com.ve/{{entity.usuario}}	
				{% endif %}
			" {% if entity.web %}
				target="_blank"
			{% endif %}>
				{% if entity.web %}
					www.{{entity.web}}
				{% else %}
					www.medic.com.ve/{{entity.usuario}}	
				{% endif %}
			</a>	
		</div>
		
	</div>
	

{% endblock profile_design %}