{% extends "layout-medic.html" %}

{% block facebook_metas %}

	<meta property="og:title" content="El primer buscador de servicios médicos de Venezuela">
    <meta property="og:site_name" content="Medic">
    <meta property="og:description" content="Medic es el primer buscador médico de Venezuela. Encuentra solución a tu necesidad de salud con la base de datos más grande de servicios médicos en tu ciudad. ">
    <meta property="og:url" content="/">  

{% endblock facebook_metas %}

{% block css %}
	{% load utils %}
		
	{% local_css "vendor/foundation.min.css" %}

	{% local_css "inicio.css" %}	
	{% local_css "responsive-helper" %}
	{% local_css "notificaciones.css" %}
	{% local_css "etiqueta.css" %}

{% endblock css %}

{% block cuerpo %}

	{% comment %}
		<div class="responsive-helper"></div>	
	{% endcomment %}
	
	<!-- <div class="franja_beta">
		<div>
			BETA: Nos encontramos probando y mejorando Medic, ayúdanos dejándonos tu comentario.
		</div>
	</div> -->

	{% comment %}
		<img class="franja_beta" src="{{STATIC_URL}}img/franja_beta.png" alt="BETA: Aún en construcción. Fase media de desarrollo">	
	{% endcomment %}
	

	<section id="cabezera">

		<header>
			<section id="menu" class="row" >
				<div class="small-12 small-centered large-6 columns">
					<ul class="row" id="menu-wrapper">
						<li class="small-4 large-4 columns selectable">
							<a class="selectable-caption" href="{% url 'we' %}">Nosotros</a>
						</li>
						<li class="small-4 large-4 columns selectable">
							<a data-tooltip title="Próximamente" class="selectable-caption" href="#">Blog</a>
							
						</li>						
						<li class="small-4 large-4 columns selectable">
							<a class="selectable-caption" href="#contactos">Contactos</a>
						</li>	
					</ul>
					
				</div>
			</section>
						
				<div class="row">
				<div class="small-12 columns">
					<div class="row">
						<div class="small-12 columns" id="titulo-box">
							<h1 class="logo">medic</h1>	
							{% comment %}
							<span>BETA</span>							
							<h5>
								<span>BETA</span>
							</h5>
							{% endcomment %}
						</div>
					</div>					
				</div>
			</div>				
									
		</header>

		<section id="busqueda_height_saver">
			{% comment %}
				Salva el anto de la barra de búsqueda al momento de estar colocado en la 
				parte superior.
			{% endcomment %}
		</section>
		
		
		<section id="busqueda"> 			

			<div class="row">
				<div class="small-12 columns" id="busqueda-wrapper">
					<div class="row collapse">
						<div class="small-1 large-1 columns">
							<span id="puntero" href="#" class="search-icon input_elem spring button prefix medic-icon-angle-right"></span>
						</div>								
						<div class="large-10 small-10 columns">
							<input id="consulta" type="text" placeholder="Ingrese su necesidad aquí y presione Enter para buscar">
						</div>
						<div class="small-1 large-1 columns">
							<span id="boton-buscar" href="#" class="input_elem button prefix medic-icon-search"></span>
						</div>		
					</div>
				</div>
				
			</div>				
		</section>		
	</section>

	<section id="cuerpo">
		
		<div class="presentation" id="entry">
			<div class="row">
				<div class="small-12 large-8 columns presentation-wrapper">
					<h1 class="title">Bienvenido a <span class="medic">medic</span> </h1>
					<h2 class="subtitle">El primer buscador médico de Venezuela</h2>

					<div class="numbers-wrapper">	
						<div class="small-4 columns center-childs number-wrapper">							
							<strong class="standout more">
								<span class="medic-icon-user-md icon fixed-for-mobile"></span>{{n_doctores}}
							</strong><br/>
								<span class="standout">Doctores</span>							
						</div>
						<div class="small-4 columns center-childs number-wrapper">							
							<strong class="standout more">
								<span class="medic-icon-hospital icon fixed-for-mobile" ></span>{{n_clinicas}}
							</strong><br/>
							<span class="standout">Clínicas</span>
							
						</div>
						<div class="small-4 columns center-childs number-wrapper">
							<strong class="standout more">
								<span class="medic-icon-search icon standout-icon fixed-for-mobile" ></span>	
								<span id="total_results">{{n_total}}</span>
								
							</strong><br/>
							
							<span class="standout">Posibles resultados</span>
							
						</div>						
					</div>
				</div>		
			</div>
		</div>

		<div class="row" id="user-messenger" >
			<div id="barra-superior" class="small-12 small-centered columns">
				<h3 id="grand-message-container"></h3>	
				<div id="results-topbar" class="row no-display">
					<div id="tiny-message-container" class="small-centered small-10 large-6 columns active filtro"></div>
					{% comment %}
						<div class="small-3 columns filtro active">Todos</div>
										<div class="small-3 columns filtro">Doctores</div>
										<div class="small-3 columns filtro">Clínicas</div>
										<div class="small-3 columns filtro">Farmacias</div>
					{% endcomment %}
				</div>	
			</div>
		</div>
		<!-- <div class="row sombra-scroll sup"></div> -->

		<div id="presentacion">

			<div class="row">
				<section class="large-12 columns">
					<div class="row bloque-explicacion">
						<div class="small-11 small-centered columns">
							<article class="large-7 small-12 columns explicacion">
								<h2 class="relevant-title">¿Necesita algún servicio médico?</h2>
								<p>
									<strong>Sólo escriba en nuestro buscador</strong> cualquier información relacionada a <strong>su necesidad</strong>: servicio, tipo de especialista, dolencia, seguro asociado (próximamente) o cualquier tipo de información que pueda usar <span class="medic">medic</span> para ofrecerle los mejores <strong>resultados adecuados a su necesidad.</strong> Debemos destacar que en este momento poseemos información sólo para Ciudad Guayana.
								</p>
								
							</article>
							<div class="large-5 small-12 columns">								
								<div class="medic-icon-search grand-icon">
									
								</div>
								<div class="medic-icon-ambulance grand-icon text-right">
									
								</div>
							</div>
						</div>
					</div>
					<div class="row bloque-explicacion">
						<div class="small-11 small-centered columns">
							<article class="large-7 push-5 small-12 columns explicacion">
								<h2 class="relevant-title">¡Medic lo necesita!</h2>
								<p>
									En <span class="medic">medic</span> nos enfocamos en diseñar servicios adaptados a las <strong>necesidades de la sociedad</strong> y para ello abrimos nuestro proceso de desarrollo a <strong>personas como usted</strong> pertenecientes a la comunidad. <strong>Déjenos su opinión</strong> o comentario sobre su experiencia usando <span class="medic">medic</span>, díganos que le gustaría agregarle o que no le ha gustado <strong>y nosotros lo escucharemos.</strong>
								</p>
							</article>					
							<div class="large-5 pull-7 small-12 columns">
								<div class="medic-icon-lightbulb grand-icon text-center">
									
								</div>
								<div class="medic-icon-users grand-icon text-center"></div>
							</div>					
						</div>
					</div>
					<div class="row bloque-explicacion">
						<div class="small-11 small-centered columns">
							<article class="large-7 small-12 columns explicacion">
								<h2 class="relevant-title">¿Ofrece usted servicios de salud?</h2>
								<p>
									Entonces querrá formar parte de la base de datos más grande de servicios médicos de Venezuela. Escríbanos a <strong>info@medic.com.ve</strong> y una vez captados sus datos podrá obtener un <strong>perfil web gratuito</strong> en <span class="medic">medic</span>. Próximamente ofreceremos perfiles web más avanzados con capacidad de personalización, si es de su interés háganoslo saber y podrá disfrutar de beneficios exclusivos. 
								</p>
							</article>
							<div class="large-5 small-12 columns">
								<div class="medic-icon-user-md grand-icon">
									
								</div>
								<div class="medic-icon-hospital grand-icon text-right">
								</div>
							</div>
						</div>
					</div> 	
				</section>
			</div>				
		</div> 		

		<div id="loader" class="hide">		
			Consultando...				
			<div class="spinner">
			  <div class="dot1"></div>
			  <div class="dot2"></div>
			</div>
		</div>

		<section id="resultados" class="row">		

		{% comment %}
			Contenedor de los resultados de las búsquedas
		{% endcomment %}

		</section>

		<div id="no-results-message" class="center-childs expand more hide">			

			{% comment %}
				En caso de no encontrarse resultados
			{% endcomment %}		

			<div class="accepts-company width600">
				<h3>Sin resultados</h3>
				<p class="standout medium">
					Puede ser que su consulta deba corregise o también puede probar con otras palabras.
				</p>
				<p class="overshadow">Hemos guardado su búsqueda de forma anónima para ser analizada por nuestro equipo y así poder ofrecer resultados en un futuro.</p>
			</div>
		</div>

		<div id="no-enough-info" class="center-childs expand more hide">			

			{% comment %}
				En caso de no encontrarse resultados
			{% endcomment %}		

			<div class="accepts-company width600">
				<h3>Sin suficiente información</h3>
				<p class="standout medium">
					Su consulta no posee suficiente información para ofrecerle buenos resultados, intente agregar más detalles.
				</p>				
			</div>
		</div>




		{% comment %}
			<div class="row sombra-scroll"></div> 	
		{% endcomment %}
		<div id="widget-encuesta" class="hidden widget-encuesta center-childs " >
			<div  class="cabecera-encuesta selectable selectable-caption">Ayúdenos a mejorar para usted</div>
			<p class="pregunta"> ¿Qué le ha parecido <span class="medic">medic</span>? </p>
			<div class="opciones">
				<span class="medic-icon-frown opcion" valor="1"></span>
				<span class="medic-icon-meh opcion" valor="2"></span>
				<span class="medic-icon-smile opcion" valor="3"></span>
			</div>
		</div>
		
	</section>
		
	<aside id="publicaciones"></aside>
	<aside id="widget_twitter"></aside>
	<footer>
		<div class="row secciones">
			<div class="small-12 large-8 columns">
				<div class="row">
					<a href="{% url 'we' %}" class="large-4 small-12 columns seccion selectable">
						<strong class="selectable-caption">Nosotros</strong>
						<p>
							Conoce a nuestro equipo, somos jóvenes emprendedores de la localidad apasionados por desarrollar ideas y ofrecer servicios de calidad a la sociedad.
						</p>
					</a>
					<div class="large-4 small-12 columns seccion">
						<strong>Blog</strong>	
						<p>
							Conoce a los doctores de tu ciudad y encuentra al indicado mediante sus publicaciones en nuestro blog. <strong>¡Próximamente!</strong>
						</p>					
					</div>
					<div class="large-4 small-12 columns seccion" id="contactos">
						<strong>Contactos</strong>
						<p>
							¿Eres un especialista de la salud y quieres estar en nuestra plataforma? Escríbenos.<br/>
							<strong>info@medic.com.ve</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="small-12 large-4 columns" id="redes">
				<strong>Síguenos</strong>
				<br/>
				<div>
					<a href="http://twitter.com/medicve" target="_blank">
						<span class="medic-icon-twitter"></span>	
					</a>
					<a href="http://facebook.com/medicve" target="_blank">
						<span class="medic-icon-facebook"></span>		
					</a>					
				</div>
				
			</div>
		</div>
		<div class="row" id="final">
			<p class="small-12 columns" id="medic_footer">
				medic
			</p>
			<p class="small-12 columns" id="legal">
				<span>
					©	
				</span>
				 Todos los derechos reservados
			</p>
		</div>
	</footer>

	{% comment %}
		Dirección de la carpeta media para ser usando en la 
		generación de tarjetas en los resulados
	{% endcomment %}
	<span id="media_url" data-media="{{MEDIA_URL}}doctores/"></span>

	{% include "cards_templates.html" %}

	<div id="confs" style="display:hidden">
		{% for conf, values in confs.iteritems  %}
			<div data-conf-name="{{conf}}">
				{% for k, v in values.iteritems %}
					<div data-conf-key="{{k}}" data-conf-value="{{v}}"></div>
				{% endfor %}
			</div>	
		{% endfor %}		
	</div>

	{% comment %}
		Se plasman las constantes compartidas entre el backend y el frontend
	{% endcomment %}

	<div id="consts" style="display:hidden">

		{% for const, values in consts.iteritems  %}
			<div data-const-name="{{const}}">
				{% for k, v in values.iteritems %}
					<div data-const-key="{{k}}" data-const-value="{{v}}"></div>
				{% endfor %}
			</div>	
		{% endfor %}
		
	</div>
	
	<div id="modal" class="reveal-modal [expand, xlarge, large, medium, small] modal">
		<div class="modal-body">
	      	<div id="pregunta3">
	            <div class="control-group center-childs" id="control_comentario">	
	            	<span class="medic cabecera">medic</span>
					<label for="id_comentario" class="control-label text">
						Ayúdenos en la evolución de <span class="medic">medic</span>, díganos qué le mejoraría, qué no le ha gustado, qué le ha gustado o simplemente cuéntenos su experiencia usándolo; nosotros y muchos otros le estaremos muy agradecidos.
					</label>	
					<div class="controls">
						<textarea cols="40" id="id_comentario" name="comentario" rows="10"></textarea>  
						<span class="help-inline"></span>
					</div>	
				</div>			
			</div>
		</div>
		<div class="modal-footer center-childs">
		    <a href="#" class="[tiny, small, medium, large] button radius accepts-company" id="btn-guardar-opinion">Sumar mi opinión</a>
		 </div>
	 	<a class="close-reveal-modal">&#215;</a>
	</div>

{% endblock cuerpo %}

{% block js %}
	{% comment %}
		{% local_js "medic_ui_control" %}
	{% endcomment %}	
	<!-- <script type="text/javascript" src="http://localhost:8008/socket.io/socket.io.js"></script> -->

	<script type="text/javascript" src="http://{{mse_host}}{{mse_port}}/socket.io/socket.io.js"></script>	
	<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script> -->
	
	{% cdn_js "Mustache" "//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" "vendor/mustache.js" %}
	{% cdn_js "Underscore" "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" "vendor/underscore-min" %}
	{% cdn_js "Backbone" "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js" "vendor/backbone-min" %}	
	{% cdn_js "$.cookie" "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js" "vendor/jquery.cookie.min" %}	
	{% local_js "notificaciones" %}
	{% local_js "medic/encuesta" %}
	{% local_js "medic/medic" %}
	<script src="{{STATIC_URL}}js/vendor/foundation.min.js"></script>	
	

	<script>
		$(document).foundation();

		
			var texto  = $.cookie("encuesta")
			console.log("Texto : " + texto)
		if(texto!='si'){
			$("#widget-encuesta").removeClass('hidden')
		}
			//$("#widget-encuesta").addClass("hidden")



		$(".cabecera-encuesta").click(function(){
		if( $("#widget-encuesta").hasClass('desplegar') ){
			$("#widget-encuesta").addClass("ocultar")
			$("#widget-encuesta").removeClass('desplegar')
		}else{
			$("#widget-encuesta").addClass("desplegar")
			$("#widget-encuesta").removeClass('ocultar')
		}
		});
		
	
	</script>
{% endblock js %}
