
{% extends "profile_base.html" %}

{% block profile_css %}
	{% load utils %}
	{% local_css "institution_profile" %}
{% endblock profile_css %}

{% block entity_title %}
	{{ entity.nombre }}. {{entity.descripcion_corta}}	
{% endblock entity_title %}

	
{% block profile_design %}
	<header class="center-container card card-large card-not-top-margin center-childs bottom-decorator">
		<div class="title-container">
			<h1 class="principal-title" id="title">
				{{entity.nombre}} 
			</h1>	
			<h2 class="secondary-title">
				{{entity.descripcion_corta}}
			</h2>
		</div>
		
		{% if entity.presentacion and entity.presentacion != "" %}
			<p class="less">
				{{entity.presentacion}}
			</p>	
		{% endif %}		
	</header>	

	{% if entity.emergencias and entity.todo_momento %}
		<div class="center-container center-childs">
			<section class="marker expand appointment with-margin two-columns fixed-for-mobile">
				<i class="medic-icon-clock"></i>
				Disponible las 24 horas
			</section>
			<section class="marker expand emergency with-margin two-columns fixed-for-mobile">
				<i class="medic-icon-ambulance"></i>
				Emergencias las 24 horas
			</section>
		</div>			
	{% else %}
		{% if entity.emergencias %}
			<div class="center-container">
				<section class="marker expand emergency with-margin">
					<i class="medic-icon-ambulance"></i>
					Emergencias las 24 horas
				</section>
			</div>	
		{% endif %}

		{% if entity.todo_momento %}
			<div class="center-container">
				<section class="marker expand appointment with-margin">
					<i class="medic-icon-clock"></i>
					Disponible las 24 horas
				</section>
			</div>	
		{% endif %}
	{% endif %}

	
	{% if entity.servicios %}
		<div class="center-container card card-large card-not-top-margin center-childs more-padding-top">
			
				{% for s in entity.servicios_readable  %}
					<div class="service">{{s}}</div>
				{% endfor %}
			
		</div>	
	{% endif %}

	{% if entity.direccion and entity.direccion != "" %}
		<div class="center-container card card-large card-without-left-paddging center-childs">
			<i class="medic-icon-location-1 info-icon"></i>
			<p class="large-text accepts-company top-align info-text">
				{{ entity.direccion }}	
			</p>
		</div>
	{% endif %}

	{% if entity.adicional and entity.adicional != "" %}
		<div class="center-container card card-large card-without-left-paddging center-childs">			
			<i class="medic-icon-info-circled info-icon"></i>
			<p class="large-text accepts-company top-align info-text">
				{{ entity.adicional }}	
			</p>
		</div>
	{% endif %}

	{% if entity.doctores.count > 0 %}
		<div class="center-container card">
			<h3 class="section-title">Especialistas</h3>
			<ul class="medic-list three-columns-large">
				{% for doctor in entity.doctores.all  %}
					<li class="clickable">
						<a href="/{{doctor.usuario}}" class="without-underline">
							{{doctor.titulo_con_sexo}}. <strong class="clickable-title">{{doctor.nombre}} {{doctor.apellido}}</strong> <br/>
						<p class="less without-margin">
							{% for s in doctor.especialidades.all  %}
								{{s.nombre_especialista}}
							{% endfor %}	
						</p>
						</a>		
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if entity.bloque_atencion_set.count > 0 %}
		<div class="center-container card card-large">
			<h3 class="section-title">Horarios</h3>
			<ul class="medic-list large center-childs">
				{% for horario in entity.bloque_atencion_set.all  %}
					<li class="less-padding accepts-company bottom-decorator">
						<strong>{{horario.dias_readable}} </strong>						
						<br/>
						{% include "horario_block.html" with bloque=horario%}
					</li>	
				{% endfor %}
				
			</ul>
		</div>
	{% endif %}

	<div class="center-container card card-large center-childs more-bottom-margin">

	{% if entity.has_contacts %}
		<h3 class="section-title">Contactos</h3>
		<div class="center-childs separator">

			{% for t in entity.telefono_establecimiento_set.all %}
				<div class="contact-box phone">
					<span class="icon medic-icon-phone"></span>
					{{t.telefono}}
				</div>	
			{% endfor %}
					
			{% if entity.facebook %}
				<a class="contact-box facebook" href="http://facebook.com/{{entity.facebook}}" target="_blank">
					<span class="icon medic-icon-facebook"></span>
					fb/{{entity.facebook}}
				</a>	
			{% endif %}
			
			{% if entity.twitter %}
				<a class="contact-box twitter" href="http://twitter.com/{{entity.twitter}}" target="_blank">
					<span class="icon medic-icon-twitter"></span>
					@{{entity.twitter}}
				</a>	
			{% endif %}
			
			{% if entity.correo %}
				<div class="contact-box email">
					<span class="icon medic-icon-mail-alt"></span>
					{{entity.correo}}
				</div>	
			{% endif %}
			
		</div>
	{% endif %}
		<div class="contact-box large">
			
			<a class="web" href="
			http://{% if entity.web %}
					www.{{entity.web}}
				{% else %}
					medic.com.ve/{{entity.usuario}}	
				{% endif %}
			" target="_blank">
				{% if entity.web %}
					www.{{entity.web}}
				{% else %}
					www.medic.com.ve/{{entity.usuario}}	
				{% endif %}
			</a>	
		</div>
		
	</div>

{% endblock profile_design %}
