{% extends "boilerplate.html" %}

{% block tags %}
	{% load utils %}
{% endblock tags %}

{% block titulo %}
	Medic: Salud al alcance de todos
{% endblock titulo %}


{% block cuerpo %}
	
	
{% endblock cuerpo %}


{% block js_base %}	

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.3.min.js"><\/script>')</script> 

    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/masonry.pkgd.min.js"><\/script>')</script> 
    

    {% include "ga-medic.html" %}

{% endblock js_base %}

