<div class="medic-bar center-childs relative">
		<div class="center-container">
			<div class="back mobile-back-button back-button">
				<span class="medic-icon-left-open selectable">
					
				</span>
			</div>
			<a class="logo pull without-underline" href="/">
				medic				
			</a>	
			<div class="pull accepts-company complement-wrapper">
				<span class="complement">
				
					<span class="reveal-left-right slogan intern" id="slogan">
						Salud al alcance de todos
					</span>
									
					<span class="hidden intern" id="page-title">
						{% if entity.is_doctor %}
							{{entity.titulo_con_sexo}}. <strong>{{entity.nombre}} {{entity.apellido}}</strong>	
						{% endif %}

						{% if entity.is_institution %}
							<strong>{{ entity.nombre }}</strong>
						{% endif %}
						
					</span>
									
				</span>			
			</div>
			

			<nav role="navigation" class="medic-nav-bar on-top push">
				<li class="hide-for-768 back-button">
					<a class="back selectable unique"><span class="spring medic-icon-left-open"></span>	
						<span>Volver</span>						
					</a>					
				</li>
				<!--
				<li class="hide-for-mobile">
					<a href="">
						<span class="medic-icon-search"></span>
						<span class="hide-for-600">Buscar</span>
						
					</a>					
				</li> -->
				<li>
					<a href="{% url 'we' %}">
						<span class="medic-icon-users"></span>
						<span class="hide-for-600">Conócenos</span>
						
					</a>
				</li>				
			</nav>
		</div>			
	</div>