{% extends "boilerplate.html" %}

{% block titulo %}
	Medic | Nosotros 
{% endblock titulo %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/nosotros.css">
{% endblock css %}

{% block cuerpo %}

	<header class="center-container logo-wrapper center-childs">
		<a href="/" class="without-underline">
			<h1 class="logo text-center">medic</h1>
		</a>
		<h5 class="text-center">Nosotros</h5>	
	</header>

	<section class="center-container small card card-large center-childs strong-shadow">
		<div class="center-childs">
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/capicp" target="_blank">
				<div class="avatar-container">
					<i class="medic-icon-twitter"></i>
					<img src="{{STATIC_URL}}/img/capi2.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Carlos
				</span>
			</a>
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/euca_gs" target="_blank">
				<div class="avatar-container">
					<i class="medic-icon-twitter"></i>
					<img src="{{STATIC_URL}}/img/eu2.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Eucaris
				</span>
			</a>

			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/evertortiz" target="_blank">
				<div class="avatar-container">	
					<i class="medic-icon-twitter"></i>					
					<img src="{{STATIC_URL}}/img/evert.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Evert
				</span>
			</a>
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/marilevi6" target="_blank">
				<div class="avatar-container">	
					<i class="medic-icon-twitter"></i>					
					<img src="{{STATIC_URL}}/img/mari.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Mariexi
				</span>
			</a>
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/aquiles888" target="_blank">
				<div class="avatar-container">	
					<i class="medic-icon-twitter"></i>				
					<img src="{{STATIC_URL}}/img/aqui.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Aquiles
				</span>
			</a>
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/steff_maya" target="_blank">
				<div class="avatar-container">
					<i class="medic-icon-twitter"></i>
					<img src="{{STATIC_URL}}/img/ire2.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Irene
				</span>
			</a>
			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/cjvaldivieso" target="_blank">
				<div class="avatar-container">
					<i class="medic-icon-twitter"></i>
					<img src="{{STATIC_URL}}/img/chris.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Christian
				</span>
			</a>

			<a class="avatar-wrapper accepts-company without-underline" href="http://twitter.com/johamarina" target="_blank">
				<div class="avatar-container">
					<i class="medic-icon-twitter"></i>
					<img src="{{STATIC_URL}}img/johana.jpg" class="avatar round">		
				</div>
				
				<span class="nombre">
					Johana
				</span>
			</a>

		</div>

		<div class="separator-dotted">
		</div>
		<p class="text-center descripcion accepts-company">
			<span class="medic">Medic</span> es desarrollado por un equipo de jóvenes emprendedores de Ciudad Guayana, con la visión de ofrecer una plataforma tecnológica intermediaria entre la sociedad y servicios de salud (con o sin fines de lucro) de su localidad.  Próximamente estaremos publicando más información sobre <span class="medic">medic</span> como proyecto y sobre cada uno de nosotros.
		</p>
	</section>

	<section class="center-container small card card-large center-childs strong-shadow">
		<a class="selectable contacto accepts-company without-underline" href="http://twitter.com/medicve" target="_blank">
			<i class="medic-icon-twitter icon twitter"></i>
			<span class="selectable-caption">@medicve</span>
		</a>

		<a class="selectable contacto accepts-company without-underline" href="http://facebook.com/medicve" target="_blank">
			<i class="medic-icon-facebook icon facebook"></i>
			<span class="selectable-caption">fb/medicve</span>
		</a>

		<a class="selectable contacto accepts-company without-underline" href="mailto:info@medic.com.ve">
			<i class="medic-icon-mail-alt icon correo"></i>
			<span class="selectable-caption">info@medic.com.ve</span>
		</a>
		
	</section>

	<footer class="center-container center-childs logo-wrapper">		
		<div id="back" class="logo text-center accepts-company back-button without-underline selectable" href="/">
			<span class="spring medic-icon-left-open"></span>
			<span class="selectable-caption logo back-button-caption">Volver</span>
			
		</div>		
	</footer>
	
	
{% endblock cuerpo %}

{% block js %}

	<script type="text/javascript">	

	document.getElementById("back").addEventListener("click", function(evt){
		evt.preventDefault();
		window.history.back();
	})

	</script>

	{% include "ga-medic.html" %}
	
{% endblock js %}