{% extends "boilerplate.html" %}

{% block titulo %}
	Medic | 
	{% block entity_title %}
	
	{% endblock entity_title %}	
{% endblock titulo %}


{% block css %}

	{% load utils%}

	{% local_css "responsive-helper" %}	
	
	{% block profile_css %}
		
	{% endblock profile_css %}
	
{% endblock css %}

{% block cuerpo %}

	{% include "medic-bar.html" %}

	<div class="profile-container principal_background more-more-bottom-margin">
		{% block profile_design %}
			
		{% endblock profile_design %}
	</div>

	<div class="profile-footer">
		
	</div>

	<div class="medic-footer center-childs">
		<span class="less-important">
			Perfil web cortesia de
		</span><br/>
		<a href="http://medic.com.ve">
			<span class="logo neutral">
				medic
			</span>
			<span class="less-important fixin">
				.COM.VE
			</span>	
		</a><br/>		
		<a class="without-underline medic-icon-twitter contact selectable selectable-caption" href="http://www.twitter.com/medicve" target="_blank">@medicve</a>
		<a class="without-underline medic-icon-mail-alt contact">info@medic.com.ve</a>
		
					
	</div>	
	
{% endblock cuerpo %}


{% block js %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.3.min.js"><\/script>')</script> 
	{% cdn_js "$.cookie" "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js" "vendor/jquery.cookie.min" %}	

	{% local_js "medic/medic-bar.js" %}

	{% block profile_js %}
		
	{% endblock profile_js %}

	{% include "ga-medic.html" %}
{% endblock js %}