{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Busqueda de Establecimiento
{% endblock titulo_seccion %}

{% block descripcion %}
	Busqueda de establecimientos mediante una serie de palabras claves separadas por ',' <br>Las palabras claves pueden corresponder al nombre del establecimiento o alguna especualidad en particular. 
{% endblock descripcion %}

{% block css %}
	{% load utils %}

	{% local_css "paginacion.css" %}
{% endblock css %}

{% block contenido %}
	
<form class="form-search" action="{% url medic.views.resultados_busqueda %}" method="get" >
		<input type="text" name="clave" class="input-xlarge search-query ">
		<input type="submit" id="palabra" class="btn btn-success"> 
		
</form>

<table id='example' class="establecimientos table table-hover ">
	<thead>
		<tr >
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Zona</th>

		</tr>
	</thead>
	<tbody>
		{% for elemento in establecimientos %}
			<tr >
				<td>
					<a href="{% url datamark.views.detalle_establecimiento elemento.id %}">
						{{elemento.nombre}}
					</a>					
				</td>
				<td>{{elemento.direccion}}</td>
				<td>{{elemento.zona.descripcion}}</td>
												 					
			</tr>
		{% endfor %}
		
	</tbody>
</table>



{% endblock contenido %}

{% block js %}
	<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
		    $('#example').dataTable( {
		    	"sPaginationType": "full_numbers",
		        "oLanguage": {
		            "sLengthMenu": "Mostrar _MENU_ registros",
		            "sZeroRecords": "No existen registros.",
		            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
		            "sInfoFiltered": "(filtered from _MAX_ total records)",
		            "sSearch": "Filtrar: ",
		            "oPaginate": {
		            	"sPrevious": "Anterior",
				        "sNext": "Siguiente"
				      }		            		         
		        }
		    } );;
		} );
	</script>
{% endblock js %}