
<div class="control-group">
	<label for="id_{{campo.html_name}}" class="control-label">
		{{campo.label}}
	</label>
	<div class="controls">
		<input id="filtro_{{campo.html_name}}" type="text" placeholder="Escriba para filtrar">
	</div>
</div>

{% include "bs-control-group.html" with campo=campo sin_label=1 %}	
