
{% if campo.errors|length > 0 %}
	<div class="control-group error" id="control_{{campo.html_name}}" {% if "-DELETE" in campo.html_name %} style="display: none" {% endif %}>
{% else %}
	<div class="control-group " id="control_{{campo.html_name}}">	
{% endif %}

	{% if not sin_label %}
		<label for="id_{{campo.html_name}}" class="control-label">
			{{campo.label|escape}}
		</label>	
	{% endif %}

	<div class="controls">
		{% comment %}
			Inclusión de texto en el append de Bootstrap en caso de existir
		{% endcomment %}
		{% if prepend or append %}

			<div class="
			{% if prepend %}
				input-prepend
			{% endif %}
			{% if append %}
				input-append
			{% endif %}
			"			
			>
			{% if prepend %}
				<span class="add-on">{{prepend}}</span>				
			{% endif %}						
		{% endif %}	
		
		{{campo}}  {% comment %} Campo especificado {% endcomment %}

		{% if append %}
			<span class="add-on">{{append}}</span>				
		{% endif %}	

		{% comment %}
			Si se agrego un prepend o append entonces se se cierra el div
		{% endcomment %}
		{% if prepend or append %}
			</div>
		{% endif %}			
		<span class="help-inline">
			{% for error in campo.errors  %}
				{{error}}
			{% endfor %}
		</span>
	</div>	
</div>			