
{% comment %}
	Formulario para una consulta
{% endcomment %}

<div class="tarjeta-admin tarjeta-cita " id="{{consulta.prefix}}">
	<div class="close" id="{{consulta.prefix}}">&times;
		
		{% if operacion  %}
			{{consulta.DELETE}}
		{% endif %}
	</div>
	<h4>Consulta</h4>								
	{{consulta.id}}
	
	{% for elemento  in consulta %}
		<div class="control-group">
			{% if elemento.label == "Establecimiento"  %}
		    <label class="control-label"></label>
		    <div class="controls">
		    	
				<input type="text" id="filtro" select="{{elemento.auto_id}}" class="span3 typeahead" autocomplete="off" style="margin: 0 auto;" >    
					
		    </div>
		    {% endif %} 
		</div>
		{% if elemento.label != "Eliminar"  and elemento.label != "Id" %}
			<div class="control-group">
			    <label class="control-label">{{ elemento.label_tag }} </label>
			    <div class="controls">
					{{ elemento.errors }}
					{{ elemento}}		     
			    </div>
			</div>
	
		{% endif %}
		
	{% endfor %}
	<h4>Bloques de horarios</h4>											
	<div class="bloques" id="{{consulta.bloques.prefix}}">
		{{consulta.bloques.management_form}}
		{% for bloque in consulta.bloques%}										
			{% include "horario_consulta.html" with bloque=bloque operacion=edicion %}
		{% endfor %}

		<div class="tarjeta-agregar-bloque entypo-calendar">										
			Horario
		</div>

		<div class="model-form">

			{% include "horario_consulta.html" with bloque=consulta.bloques.empty_form %}			
			
		</div>

	</div>
</div>	