
{% comment %}
	Formulario para un bloque de horario de consulta
{% endcomment %}

<div class="tarjeta-admin tarjeta-bloques" id="{{bloque.prefix}}">				
	

	<div class="close" id="{{bloque.prefix}}">&times;
		
		{% if operacion  %}
			{{bloque.DELETE}}
		{% endif %}	
		
	</div>

	{% include "bs-control-group.html" with campo=bloque.emergencias %}	

	{{bloque.id}}															

	<legend>{{bloque.dias.label}}</legend>
	<div class="dias_input">
		{{bloque.dias}}
		<span class="help-inline" style="color: #b94a48; width:100%; text-align: center">
			{% for error in bloque.dias.errors %}
				{{error}}
			{% endfor %}	
		</span>			
	</div>

	<legend>Bloque de la mañana</legend>	
	{% include "bs-control-group.html" with campo=bloque.manana_hora_inicio %}				
	{% include "bs-control-group.html" with campo=bloque.manana_hora_fin %}	
	<legend>Bloque de la tarde</legend>	
	{% include "bs-control-group.html" with campo=bloque.tarde_hora_inicio %}	
	{% include "bs-control-group.html" with campo=bloque.tarde_hora_fin %}		
						
													
</div>
