
<div class="span6 tarjeta-telefono tarjeta-admin">
							
	{{form.id}}							
	
	<div class="close" id='{{form.prefix}}'>&times;
		{% if operacion  %}
			{{form.DELETE}}
		{% endif %}
	</div>
	
		<label for="id_{{form.descripcion.html_name}}">{{form.telefono.label}}</label>
		{{form.telefono}}
		{% for error in  form.telefono.errors %}
			{{error}}
		{% endfor %}
																	
</div>