{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Busqueda de Establecimiento
{% endblock titulo_seccion %}

{% block descripcion %}
	Busqueda de establecimientos mediante una serie de palabras claves separadas por ',' <br>Las palabras claves pueden corresponder al nombre del establecimiento o alguna especualidad en particular. 
{% endblock descripcion %}


{% block contenido %}

	
			
	<form class="form-search" action="/datamark/resultado/" method="get" >
		<input type="text" name="clave" class="input-xlarge search-query ">
		<input type="submit" id="palabra" class="btn btn-success"> 
		
	</form>
			
	
	
{% endblock contenido %}

