{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Bienvenido a Datamark
{% endblock titulo_seccion %}


{% block descripcion %}
		Sistema de Análisis del Mercado.
{% endblock descripcion %}

{% block css %}

	{% load utils %}
	{% local_css "dm-inicio" %}
	
{% endblock css %}

{% block contenido %}	

	<table class="table table-bordered center">
		<thead class="navbar-inner">
			<tr>
				<th>Doctores / Especialistas</th>
				<th>Establecimientos</th>
				<th>Medios publicitarios</th>
				
			</tr>		
		</thead>
		<tbody>
			<tr>
				<td><p>{{n_doctores}}</p></td>
				<td><p>{{n_establecimientos}}</p></td>
				<td><p>{{n_medios_publicitarios}}</p></td>
				
			</tr>
		</tbody>
		
		<table class="table table-bordered center">
			<thead class="navbar-inner">
				<tr>
					<th>Especialidades</th>
					<th>Zonas</th>
					<th>Ciudades</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><p>{{n_especialidades}}</p></td>
					<td><p>{{n_zonas}}</p></td>
					<td><p>{{n_ciudades}}</p></td>
				</tr>
			</tbody>
		</table>
	</table>

	<h2>Control de Validaciones</h2>
	<div id="Doctores" style="display: inline-block; width:49%; "></div>
	<div id="Establecimientos" style="display: inline-block; width:49%; "></div>

	
	

	<br/>
	<h2>Top de Cargas</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Rank</th>
				<th></th>
				<th>Integrante</th>
				<th>Doctores revisados</th>
				<th>Establecimientos revisados</th>
				<th>Total revisado</th>
			</tr>
		</thead>
		<tbody>
			
			{% for u in ranking_cargas  %}
				<tr>
					<td>{{forloop.counter}}</td>
					{% if forloop.first %}
						<td class="fontawesome-star gold"></td>											
					{% else %}						
						<td></td>
					{% endif %}					
					<td>{{u.first_name}} {{u.last_name}}</td>
					<td>{{u.doctores_count}}</td>
					<td>{{u.establecimientos_count}}</td>
					<td>{{u.general_count}}</td>
				</tr>				
			{% endfor %}
			
		</tbody>
	</table>

		
{% endblock contenido %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(Doctores);
      google.setOnLoadCallback(Establecimientos);
      function Doctores() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Validados',  {{val_doctores}}],
          ['No Validados', {{res_doctores}}]
          
        ]);

        var options = {
          
           colors:['#5DA423','#48C323']
        };

        var chart = new google.visualization.PieChart(document.getElementById('Doctores'));
        chart.draw(data, options);
      }

      function Establecimientos() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Validados',  {{val_establecimientos}}],
          ['No Validados', {{res_establecimientos}}]
          
        ]);

        var options = {
          
           colors:['#702963','#B19CD9']
        };

        var chart = new google.visualization.PieChart(document.getElementById('Establecimientos'));
        chart.draw(data, options);
      }
    </script>



{% endblock js %}