{% comment %}
      Elementos o items del menú de Datamark
{% endcomment %}

<li><a href="{% url 'datamark.views.inicio' %}"> <i class="icon-home"></i> Inicio</a></li>
                                    
<li class="divider"></li>
<li class="nav-header">Data</li>
<li><a href="{% url 'datamark.views.doctores' %}"><i class="icon-user"></i>  Doctores</a></li>
<li><a href="{% url 'datamark.views.establecimientos' %}"><i class="icon-plus"></i> Establecimientos</a></li>
<li><a href="{% url 'datamark.views.medios_publicitarios' %}"><i class="icon-eye-open"></i> Competencia</a></li>
<li><a href="{% url 'datamark.views.especialidades' %}"><i class="icon-star"></i> Especialidades</a></li>
<li><a href="{% url 'datamark.views.zonas' %}"><i class="icon-map-marker"></i> Zonas</a></li>
<li><a href="#"><i class="icon-globe"></i> Ciudades</a></li>
<li><a href="{% url 'seguros' %}"><i class="icon-lock"></i> Seguros <span class="label label-important">Nuevo!</span></a></li> 
<li class="divider"></li>
<li class="nav-header">Análisis</li>
<li><a href="{% url 'datamark.views.doctores' %}">Doctores</a></li>
<li><a href="#">Establecimientos</a></li>
<li><a href="#">Competencia</a></li>