{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Gestión de Doctores
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de doctores. 
{% endblock descripcion %}


{% block contenido %}
	
	<table class="table table-bordered detalles">
		<tr>
			<td colspan="4" style="text-align: center"><h3>{{ doctor.nombre}} {{doctor.apellido }}  <a href="{% url 'datamark.views.doctor' doctor.id %}">
						<i class="icon-edit"></i>
					</a></h3></td>
		</tr>
		<tr>
			<td>Usuario:</td>
			<td>{{doctor.usuario}}</td>
			<td>Sexo:</td>
			<td > {{doctor.sexo_doctor}} </td>
		</tr>

		
		<tr>
			<td>Correo:</td>
			<td>{{doctor.correo}}</td>
			<td>Web: </td>
			<td>{{doctor.web}}</td>
		</tr>
		<tr>
			<td>Twitter:</td>
			<td>{{doctor.twitter}}</td>
			<td>Faceboock:</td>
			<td>{{doctor.facebook}}</td>
			
		</tr>
		<tr>
			<td> Teléfonos:</td>
		
			<td colspan="3" style="text-align: center">
				{% for telefono in doctor.telefono_doctor_set.all %}

						{{ telefono.telefono }}   /  
						
				{% empty %}
					No posee teléfonos registrados
				{% endfor %}
				
			</td>
		</tr>
		<tr>
			<td >Agregado el : </td>
			<td  style="text-align: center">{{ doctor.agregado_el}} </td>
		
			<td>Especialidades:</td>
			<td  style="text-align: center">

				{% for elemento  in doctor.especialidades.all %}
					
					{{elemento}},
					
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>Presentacion: </td>
			<td colspan="3"> {{ doctor.presentacion }}</td>
		</tr>
		<tr>
			<td>Adicional:  </td>
			<td colspan="3"> {{ doctor.adicional }}</td>
		</tr>
		
	</table>
<h5>Compañia de Seguro Asociada</h5>
	<table class="table table-bordered detalles">

		<tr>
			<td> Seguros:</td>
		
			<td colspan="3" style="text-align: center">
				{% for seguros in doctor.seguros.all %}

						{{ seguros}} </br>
						
				{% empty %}
					No posee esta afiliado a ninguna compañia de seguros
				{% endfor %}
				
			</td>
		</tr>
		

	</table>	
<h5>Detalle de consultas</h5>
{% for elemento in consultas %}
	<table class="table table-bordered detalles">
		<tbody>
			<tr>
				<td colspan="4"><center> <b> {{ elemento.establecimiento.nombre }} </b></center></td>
			</tr>
			<tr>
				<td  > Detalles </td>
				<td colspan="3"> {{ elemento.detalle_sitio }} </td>
			</tr>
			<tr>
				<td colspan="4" >  <center> <b> Bloques de Consulta </b> </center></td>
			</tr>
			{% for bloque in elemento.bloque_consulta_set.all  %}

				<tr>
					
					<td rowspan="2">Dias
					</td>

					<td rowspan="2" ><center>
						{% for d in bloque.nombre_dia %}
							{{d}}
						{% endfor %}      </center></td>
					<td rowspan="2"> Horario</td>
					{% if  bloque.manana_hora_inicio or bloque.tarde_hora_inicio %}
						{% if bloque.manana_hora_inicio and bloque.manana_hora_fin%}
							<td > {{ bloque.manana_hora_inicio }} a {{bloque.manana_hora_fin}} </td>
							</tr>
						{% else %}
							<td > No posee Horario en las mañana </td>
							</tr>
							

						{% endif %}
						{% if   bloque.tarde_hora_inicio and bloque.tarde_hora_fin %}
								<tr>
									<td > {{ bloque.tarde_hora_inicio|time }} a {{bloque.tarde_hora_fin}} </td>
									
								</tr>
						{% else %}
							<tr>
								<td > {{ bloque.tarde_hora_inicio }} a {{bloque.tarde_hora_fin}} </td>
								
							</tr>
						{% endif %}
					{% else %}
						<td> <b> <center>No se registró horario </center></b> </td>
					{% endif %}
				
			{% empty %}
				<tr>
				
					<td > No posee bloques de consultas. </td>
				
				</tr>
			{% endfor %}
			

		</tbody>
	</table>
{% empty %}
	<table>
		<tbody>
			<tr>
				<td> No posee consultas registradas </td>
			</tr>
		</tbody>
	</table>

{% endfor %}


{% endblock contenido %}

{% block js %}
	
{% endblock js %}