{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Gestión de Doctores
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de negocios de salud. 
{% endblock descripcion %}

{% block css %}
	{% load utils %}

	{% local_css "paginacion.css" %}
{% endblock css %}
{% block contenido %}
	
<a href="{% url 'datamark.views.doctor' %}"> 
	<button class="btn btn-success" > 
		<i class="icon-user icon-white"></i>
		Insertar Doctor 
	</button>
	 </a>

<table id='example' class="table table-hover ">
	<thead >
		<tr>
			<th></th>
			<th>Nombres y Apellidos</th>
			<th>Especialidad</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% for elemento in doctor %}
			<tr >
				<td>
					{%if elemento.validado_por %}
					<i class="icon-li icon-ok" ></i>
					{%endif%}
				</td>
				<td>
					<a href="{% url 'datamark.views.detalle_doctor' elemento.id %}">
						{{elemento.nombre}} {{elemento.apellido}}
					</a> 
				</td>
				<td>

					{% for elemento  in elemento.especialidades.all %}
					
						{{elemento}}<br/>
					
					{% endfor %}
				</td>
				<td >
					<a href="{% url 'datamark.views.doctor' elemento.id %}">
						<i class="icon-edit"></i>
					</a>
					<a href="{% url 'datamark.views.detalle_doctor' elemento.id %}">
						<i class="icon-eye-open"></i>
					</a>
					<a href="#">
						<i id="{{elemento.id}}" class="icon-remove"></i>
					</a>
				</td>
				<a style="display: none" id="url{{elemento.id}}" href="{% url 'datamark.views.eliminar_doctor' elemento.id %}"></a>
			</tr>
			
		{% endfor %}
		
	</tbody>
</table>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Eliminar Doctor</h3>
  </div>
  <div class="modal-body">
  	<p>Desea eliminar el Doctor:</p>
  	<br>
  	<div aling="center">
	  	<table >
	  		<tr>
	  			<td><p>Nombre: </p></td>
	  			<td><p><b id="doctor_nombre" ></b></p></td>
	  		</tr>
	  		<tr>
	  			<td><p>Apellido: </p></td>
	  			<td><p><b id="doctor_apellido" ></b></p></td>
	  		</tr>

	  	</table>
  	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="eliminar_doctor" href=""> <button  class="btn btn-primary">Eliminar</button> </a>
  </div>
</div>


{% endblock contenido %}

{% block js %}
	<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
	<script type="text/javascript">



		$(document).ready(function() {

			$(".icon-remove").click(function(){
				
				var tr = $(this).parent().parent().parent();
					//alert( $(tr).children("td:eq(1)").text())
					$("#doctor_nombre").text($(tr).children("td:eq(0)").text())	
					$("#doctor_apellido").text($(tr).children("td:eq(1)").text())
					
					$("#eliminar_doctor").attr('href',$('#url'+$(this).attr('id')).attr('href'))
				
				$('#myModal').modal('show')
			})

		    $('#example').dataTable( {
		    	"sPaginationType": "full_numbers",
		        "oLanguage": {
		            "sLengthMenu": "Mostrar _MENU_ registros",
		            "sZeroRecords": "No existen registros.",
		            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
		            "sInfoFiltered": "(filtered from _MAX_ total records)",
		            "sSearch": "Filtrar: ",
		            "oPaginate": {
		            	"sPrevious": "Anterior",
				        "sNext": "Siguiente"
				      }		            		         
		        }
		    } );;
		} );
	</script>
{% endblock js %}