{% extends 'dm-base.html' %}


{% block titulo_seccion %}
	Ingresar Doctor
{% endblock titulo_seccion %}

{% block css %}

	{% load utils %}

	{% local_css "tarjetas_admin.css" %}
	{% local_css "jquery.ui.timepicker.css" %}
	{% local_css "doctor_form" %}
	{% local_css "establecimiento_form" %}
{% endblock css %}

{% block contenido %}
<form class="form-horizontal" id='formulario' method='post'>{% csrf_token %}

	{% if doctor %}
		<div class="well">
			Última revisión por <strong>{{doctor.revisado_por.first_name}} {{doctor.revisado_por.last_name}}</strong>  el {{doctor.revisado_el|date:"j" }} de {{doctor.revisado_el|date:"N" }} de {{doctor.revisado_el|date:"Y" }} a través de <strong>{{doctor.revisado_de.nombre}}</strong>





			</br>
			{% if doctor.validado_por %}
				Datos Validados por <strong>{{doctor.validado_por.first_name}} {{doctor.validado_por.last_name}}</strong>  el {{doctor.validado_el|date:"j" }} de {{doctor.validado_el|date:"N" }} de  {{doctor.validado_el|date:"N" }} de {{doctor.validado_el|date:"Y" }}
			{% endif %}


		</div>
	{% endif %}

		{% comment %}
			Formulario para un doctor
		{% endcomment %}


		{% for elemento in formulario %}
		    {% if elemento.html_name == "twitter"  %}
				{% include "bs-control-group.html" with campo=elemento prepend="@" %}
		    {% elif  elemento.html_name == "web" %}
				{% include "bs-control-group.html" with campo=elemento prepend="www." %}
			{% elif  elemento.html_name == "facebook" %}
				{% include "bs-control-group.html" with campo=elemento prepend="facebook.com/" %}

			{% elif elemento.html_name == "seguros" %}

			{% elif elemento.html_name == "especialidades" %}

				{% include "bs-control-group-con-filtro.html" with campo=elemento %}
				{% include "bs-control-group-con-filtro.html" with campo=formulario.seguros %}


			{% elif elemento.html_name == "revisado_de" %}

		    {% else %}
		    	{% include "bs-control-group.html" with campo=elemento %}
		    {% endif %}
		{% endfor %}

		{% comment %}
			Sección para telefonos de un doctor
		{% endcomment %}

		<legend>Teléfonos particulares</legend>
		<div class="row-fluid" id="telefonos-forms">

				{{telefonos.management_form}}

				{% for telefono in telefonos  %}
					{% include "telefono_form.html" with form=telefono operacion=doctor%}
				{% endfor %}

				<div class="span6 tarjeta-agregar entypo-phone"></div>

			</div>
		<legend></legend>
		<div class="model-form" id="telefono-model-form">
			{% include "telefono_form.html" with form=telefonos.empty_form %}

		</div>

		{% comment %}
			Sección para consultas de un doctor
		{% endcomment %}


		<div class="citas">
			<h3>Registro de Consultas</h3>
			{{ consultas.management_form}}

			{% for consulta in consultas %}
				{% include "consulta_form.html" with consulta=consulta operacion=doctor %}

			{% endfor %}

			<div class="tarjeta-agregar-consulta entypo-location">
				Consulta
			</div>

		</div>

		<div id="revision">
			{% include "bs-control-group.html" with campo=formulario.revisado_de %}
		</div>

			<div class="submit-wrapper {% if doctor %}
				double
			{% endif %}">
					<div class="delimitador"></div>
					<button title="Guarda el formulario" type="submit" class="btn btn-success btn registro-submit"
					{% if replicado %}
						name="_replicado"
					{% endif %}
					>Guardar</button>
					{% if doctor %}
						<button title="Válida y guarda los datos de  un doctor" type="submit" class=" boton_adicional btn btn-success btn registro-submit  entypo-thumbs-up" name="_validar"></button>

					{% endif %}

					<div class="delimitador"></div>
				</div>


	</form>
	<div class="model-form" id="consulta-model-form">

		{% include "consulta_form.html" with consulta=consultas.empty_form operacion=doctor %}

	</div>

{%endblock%}

{% block js %}

	{% local_js "/vendor/jquery-ui-1.10.2.custom.min" %}
	{% local_js "/vendor/jquery.ui.timepicker" %}
	{% local_js "utils" %}
	{% local_js "helpers_health" %}
	{% local_js "hora_selector" %}
	{% local_js "doctor_form" %}

	<script>

	  checInputs()
	  nuevoSelector()


	  function nuevoSelector(){
	  	var seleccionado;
	  	/**         Visualizar los servicios de un medio        **/
	  	$('#medios').live('click',function(){
	  		seleccionado = $(this).find('option:selected').val()
	  		$(".grupo").addClass('invisible')
	  		var html_conten = $("#"+$(this).find('option:selected').val()).html()
	  		var var_contenido  =  $("#"+$(this).find('option:selected').val()).attr("contenido")
	  		if(html_conten!=null){
	  			var newhtml = '<div class="grupo invisible tarjeta-admin" id="'+$(this).find('option:selected').val()+'" contenido="'+var_contenido+'">'+html_conten+'</div>'

	  		//alert(newhtml)
	  		//$("#"+$(this).find('option:selected').val()).removeClass('invisible')
	  		$("#"+$(this).find('option:selected').val()).remove()
	  		$(".recorrido").append(newhtml)
	  		$("#"+$(this).find('option:selected').val()).removeClass('invisible')
	  		}


	  	})

	  	/**         Realiza el cambio en caso de que no se seleccione ningun servicio       **/
	  	$(".servicios").live('click',function(){
	  		var padre = $(this).parent();
	  		var sw = false;
    		padre.find(':input').each(function() {
				var checkeado = $(this).attr("checked");
		  			 if(checkeado) {

				    	sw = true;
				    	padre.addClass('activo')
				    	padre.removeClass('grupo')
				    	$("#medios option[value='"+padre.attr('id')+"']").remove();
				    }

				})
	  		if(!sw && $('.activo').size()>1 ){
		    	padre.addClass('invisible').hide("slow");
		    	padre.removeClass('activo')
		    	padre.addClass('grupo')
		    	$("#medios").append('<option class="medio" value="'+padre.attr('id')+'">'+padre.attr('contenido')+'</option>')
		    }else{
		    	if(!sw){
		    		$("#medios").append('<option class="medio" value="'+padre.attr('id')+'">'+padre.attr('contenido')+'</option>')
		    		padre.removeClass('activo')
		    		padre.addClass('grupo')
		    		padre.addClass('invisible')
		    	}
		    }

	  	})
	}
	function checInputs(){
		$('.recorrido .grupo').each(function(index){
			$('.grupo input').each(function(index){
				if(index % 2 === 0  ){
					if($(this).is(':checked')){
						$(this).parent()
						$(this).parent().addClass('activo')
						$(this).parent().removeClass('grupo')
						$(this).parent().removeClass('invisible')
						//alert($(this).attr('id'))
						$("#medios option[value='"+$(this).parent().attr('id')+"']").remove();
					}

					//alert($(this).is(':checked'))
				}
		})
	})
	}

	$("[name*='-manana_hora_inicio']").timepicker({defaultTime: '12:00', hourText: 'Horas', minuteText: 'Minutos', onHourShow: OnHourShowCallbackManana, showPeriod: true,
    showLeadingZero: true});

    $("[name*='-manana_hora_fin']").timepicker({ hourText: 'Horas', minuteText: 'Minutos', onHourShow: OnHourShowCallbackMananaFin, showPeriod: true,onMinuteShow: OnMinuteShowCallbackManana,
    showLeadingZero: true});

	$("[name*='-tarde_hora_inicio']").timepicker({defaultTime: '23:55', hourText: 'Horas', minuteText: 'Minutos', onHourShow: OnHourShowCallbackTarde, showPeriod: true,
    showLeadingZero: true});
    $("[name*='-tarde_hora_fin']").timepicker({hourText: 'Horas', minuteText: 'Minutos', onHourShow: OnHourShowCallbackTardeFin, showPeriod: true,
    showLeadingZero: true});

    function OnHourShowCallbackMananaFin(hour) {
	    if ((hour <  $("[name*='manana_hora_inicio']").timepicker('getHour') + 1) || (hour > 12)  ) {
	        return false; // not valid
	    }
	    return true; // valid
	}
	function OnHourShowCallbackManana(hour) {
	    if ((hour > 11) || (hour < 6)) {
	        return false; // not valid
	    }
	    return true; // valid
	}
	function OnHourShowCallbackTarde(hour) {
	    if ((hour < 13) || (hour < 6)) {
	        return false; // not valid
	    }
	    return true; // valid
	}
	function OnHourShowCallbackTardeFin(hour) {
	    if ((hour <  $("[name*='tarde_hora_inicio']").timepicker('getHour') + 1)) {
	        return false; // not valid
	    }
	    return true; // valid
	}
	function OnMinuteShowCallbackManana(hour, minute) {
    if ((hour == 12) && (minute > 0)){ return false; } // not valid
    return true;  // valid
}



	$(document).ready(function() {
		var arreglo = [];
		$(".citas select option").each(function(){
			elem = ""
			arreglo.push(elem + $(this).text())
		})
		$('.typeahead').typeahead({source: arreglo , matcher: function (item) {
				    if (normalizar_cadena(item).indexOf(normalizar_cadena(this.query.trim())) != -1) {
				        return true;
    }
}});
	});


{% include "tooltips.html" with form=formulario%}
  </script>

{% endblock js %}