{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Especialidades
{% endblock titulo_seccion %}

{% block descripcion %}
	Especialidades de la medicina que puede poseer un doctor.
{% endblock descripcion %}

{% block contenido %}

	{% load utils %}

<a class="btn btn-success" id="form_toggle"> 
	<i class="icon-star icon-white"></i> 
	Registrar especialidad 
</a>

<table id='example' class="table">
	<thead>
		<tr>
			<th>Especialista</th>
			<th>Especialidad</th>
			<th>Claves</th>
			<th>N° de especialistas</th>
			<th></th>
		</tr>
	</thead>	
	
	{% comment %}
		Aquí van las especialidas, se colocan con Backbone
	{% endcomment %}
	
</table>

<div id="especialidad_form" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

		<h3>Registrar de especialidad</h3>
	</div>
	<div class="modal-body">
		<div class="form form-horizontal" >
			<input id="id_id" type="hidden" value="0">
			{% csrf_token %}

			{% for c in formulario  %}
				{% include "bs-control-group.html" with campo=c %}			
			{% endfor %}

			{% health_submit "Registrar" %}
						
		</div>
	</div>
	
</div>

<div class="data_especialidades" data-inicial="{{data}}"></div>

{% endblock contenido %}

{% block js %}

	{% local_js "vendor/underscore-min" %}
	{% cdn_js "Mustache" "//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" "vendor/mustache.js" %}
	{% local_js "vendor/backbone-min" %}
	{% local_js "vendor/backbone-tastypie" %}
	{% local_js "especialidades" %}	
	{% local_js "vendor/jquery.dataTables" %}	 

{% endblock js %}