{% extends 'dm-base.html' %}


{% block titulo_seccion %}
	Ingresar Establecimiento
{% endblock titulo_seccion %}

{% block descripcion %}
	Registro de un establecimiento de salud.
{% endblock descripcion %}

{% block css %}

	{% load utils %}

	{% local_css "tarjetas_admin.css" %}
	{% local_css "establecimiento_form" %}
	{% local_css "jquery.ui.timepicker.css" %}

{% endblock css %}


{% block contenido %}
<form class="form-horizontal" id='formulario' method='post'>{% csrf_token %}

	{% if establecimiento %}
		<div class="well">
			Última revisión por {{establecimiento.revisado_por.first_name}} {{establecimiento.revisado_por.last_name}} el {{establecimiento.revisado_el|date:"j" }} de {{establecimiento.revisado_el|date:"N" }} de {{establecimiento.revisado_el|date:"Y" }}




			</br>
			{% if establecimiento.validado_por %}
				Datos Validados por <strong>{{establecimiento.validado_por.first_name}} {{establecimiento.validado_por.last_name}}</strong>  el {{establecimiento.validado_el|date:"j" }} de {{establecimiento.validado_el|date:"N" }} de  {{establecimiento.validado_el|date:"N" }} de {{establecimiento.validado_el|date:"Y" }}
			{% endif %}


		</div>
	{% endif %}

	{% if replicado %}
		<div class="alert alert-warning">
			<strong>¡Estas replicando un registro! </strong>Recuerda que los teléfonos y horarios no se están replicando. Es un detalle a corregir luego.
		</div>
	{% endif %}



				{% include "bs-control-group.html" with campo=formulario.nombre %}
				{% include "bs-control-group.html" with campo=formulario.descripcion_corta %}
				{% include "bs-control-group.html" with campo=formulario.usuario %}
				{% include "bs-control-group.html" with campo=formulario.rif %}
				{% include "bs-control-group.html" with campo=formulario.presentacion %}
				{% include "bs-control-group-con-filtro.html" with campo=formulario.seguros %}

				{% include "bs-control-group.html" with campo=formulario.tipo %}
				{% include "bs-control-group.html" with campo=formulario.direccion %}

				{% include "bs-control-group.html" with campo=formulario.ciudad %}
				{% include "bs-control-group.html" with campo=formulario.zona %}



				<legend>Teléfonos</legend>

				<div class="row-fluid" id="telefonos-forms">

					{{telefonos.management_form}}

					{% for form in telefonos  %}
						{% include "telefono_form.html" with form=form operacion=establecimiento %}
					{% endfor %}

					<div class="span6 tarjeta-agregar entypo-phone"></div>

				</div>
				<legend></legend>
				{% include "bs-control-group.html" with campo=formulario.fecha_inauguracion %}
				{% include "bs-control-group.html" with campo=formulario.servicios %}
				{% include "bs-control-group.html" with campo=formulario.adicional %}
				{% include "bs-control-group.html" with campo=formulario.correo %}
				{% include "bs-control-group.html" with campo=formulario.web prepend="www." %}
				{% include "bs-control-group.html" with campo=formulario.twitter prepend="@" %}
				{% include "bs-control-group.html" with campo=formulario.facebook prepend="facebook.com/" %}

				{% include "bs-control-group.html" with campo=formulario.todo_momento %}
				{% include "bs-control-group.html" with campo=formulario.emergencias %}

				<div id="horarios-forms">
					<legend>Horarios de atención</legend>
					{{horarios_atencion.management_form}}
					{% for horario in horarios_atencion %}
						{% include "horario_consulta.html" with bloque=horario %}
					{% endfor %}

					<div class="tarjeta-agregar entypo-calendar">
						Horario
					</div>
					<legend></legend>
				</div>

				<div class="model-form" id="horario-model-form">
					{% include "horario_consulta.html" with bloque=horarios_atencion.empty_form  operacion=establecimiento %}
				</div>

				<div id="revision">
					{% include "bs-control-group.html" with campo=formulario.revisado_de %}
				</div>

				<div class="submit-wrapper {% if establecimiento %}
					triple
					{% else %}
					 double

					{% endif %} ">
					<div class="delimitador"></div>
					<button title="Guarda el formulario" type="submit" class="btn btn-success btn registro-submit"
					{% if replicado %}
						name="_replicado"
					{% endif %}
					>Guardar</button>
					<button title="Guarda y crea un nuevo formulario con los campos replicados" type="submit" class="boton_adicional btn btn-success btn registro-submit entypo-docs" name="_replicar"></button>
					{% if establecimiento %}
						<button title="Válida y guarda los datos de un establecimiento" type="submit" class=" boton_adicional btn btn-success btn registro-submit  entypo-thumbs-up" name="_validar"></button>

					{% endif %}

					<div class="delimitador"></div>
				</div>



	</form>
	<div class="model-form" id="telefono-model-form">

			{% with telefonos.empty_form as telefonos_form  %}

				<div class="span6 tarjeta-telefono tarjeta-admin">
					{{telefonos_form_form.id}}

					<div class="close"> &times;
						{% if establecimiento  %}
							{{telefonos_form.DELETE}}
						{% endif %}
					</div>

					<label for="id_{{telefonos_form.telefono.html_name}}">{{telefonos_form.telefono.label}}</label>
								{{telefonos_form.telefono}}
								{{telefonos_form.telefono.errors}}

				</div>

			{% endwith %}

	</div>
{%endblock%}

{% block js %}
	<script src="{{STATIC_URL}}js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
	{% local_js "hora_selector" %}
	{% local_js "helpers_health" %}
	{% local_js "utils" %}
	{% local_js "establecimiento_form" %}
	{% local_js "/vendor/jquery.ui.timepicker" %}

	<script>



		jQuery(function($){
		   $.datepicker.regional['es'] = {
		      closeText: 'Cerrar',
		      prevText: '<Ant',
		      nextText: 'Sig>',
		      currentText: 'Hoy',
		      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		      monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		      dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		      dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		      weekHeader: 'Sm',
		      dateFormat: 'dd/mm/yy',
		      firstDay: 1,
		      isRTL: false,
		      showMonthAfterYear: false,
		      yearSuffix: ''};
		   $.datepicker.setDefaults($.datepicker.regional['es']);
		});

		{% for elemento in formulario %}
			$("#id_{{elemento.html_name}}").tooltip({
			      'selector': '',
			      'placement': 'right'
			});
		{% endfor %}

	  checInputs()
	  nuevoSelector()


	  function nuevoSelector(){
	  	var seleccionado;
	  	/**         Visualizar los servicios de un medio        **/
	  	$('#medios').live('click',function(){
	  		seleccionado = $(this).find('option:selected').val()
	  		$(".grupo").addClass('invisible')
	  		var html_conten = $("#"+$(this).find('option:selected').val()).html()
	  		var var_contenido  =  $("#"+$(this).find('option:selected').val()).attr("contenido")
	  		if(html_conten!=null){
	  			var newhtml = '<div class="grupo invisible tarjeta-admin" id="'+$(this).find('option:selected').val()+'" contenido="'+var_contenido+'">'+html_conten+'</div>'

	  		//alert(newhtml)
	  		//$("#"+$(this).find('option:selected').val()).removeClass('invisible')
	  		$("#"+$(this).find('option:selected').val()).remove()
	  		$(".recorrido").append(newhtml)
	  		$("#"+$(this).find('option:selected').val()).removeClass('invisible')
	  		}


	  	})

	  	/**         Realiza el cambio en caso de que no se seleccione ningun servicio       **/
	  	$(".servicios").live('click',function(){
	  		var padre = $(this).parent();
	  		var sw = false;
    		padre.find(':input').each(function() {
				var checkeado = $(this).attr("checked");
		  			 if(checkeado) {

				    	sw = true;
				    	padre.addClass('activo')
				    	padre.removeClass('grupo')
				    	$("#medios option[value='"+padre.attr('id')+"']").remove();
				    }

				})
	  		if(!sw && $('.activo').size()>1 ){
		    	padre.addClass('invisible').hide("slow");
		    	padre.removeClass('activo')
		    	padre.addClass('grupo')
		    	$("#medios").append('<option class="medio" value="'+padre.attr('id')+'">'+padre.attr('contenido')+'</option>')
		    }else{
		    	if(!sw){
		    		$("#medios").append('<option class="medio" value="'+padre.attr('id')+'">'+padre.attr('contenido')+'</option>')
		    		padre.removeClass('activo')
		    		padre.addClass('grupo')
		    		padre.addClass('invisible')
		    	}
		    }

	  	})
	}
	function checInputs(){
		$('.recorrido .grupo').each(function(index){
			$('.grupo input').each(function(index){
				if(index % 2 === 0  ){
					if($(this).is(':checked')){
						$(this).parent()
						$(this).parent().addClass('activo')
						$(this).parent().removeClass('grupo')
						$(this).parent().removeClass('invisible')
						//alert($(this).attr('id'))
						$("#medios option[value='"+$(this).parent().attr('id')+"']").remove();
					}

					//alert($(this).is(':checked'))
				}
		})
	})
	}


  </script>


{% endblock js %}