{% extends "dm-base.html" %}



{% block titulo_seccion %}
	Gestión de Establecimientos
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de negocios de salud. 
{% endblock descripcion %}


{% block contenido %}
	
	<table class="table table-bordered detalles">
		<tr>
			<td colspan="4" style="text-align: center"><h3>{{establecimiento.nombre}}</h3></td>
		</tr>
		<tr>
			<td>Tipo:</td>
			<td>{{establecimiento.nombre_tipo}}</td>
			<td  rowspan="3">Direccion:</td>
			<td  rowspan="3">{{establecimiento.direccion}}</td>
		</tr>
		<tr>
			<td>Zona:</td>
			<td>{{establecimiento.zona}}</td>
			
		</tr>
		<tr>
			<td>Fecha de inauguración:</td>
			<td>{{establecimiento.fecha_inauguracion}}</td>
			
		</tr>
		<tr>
			<td>Disponibilidad 24h:</td>
			{% if establecimiento.todo_momento %}
				<td>Disponible las 24 horas</td>
			{% else %}
				<td>No se encuentra disponible las 24 horas</td>
			{%endif%}
			<td>Correo:</td>
			<td>{{establecimiento.correo}}</td>
			
		</tr>
		<tr>
			<td >Servicios:</td>
			<td colspan="3" >{{establecimiento.servicios}}</td>
			
		</tr>
		<tr>
			<td>Twitter:</td>
			<td>{{establecimiento.twitter}}</td>
			<td>Web: </td>
			<td>{{establecimiento.web}}</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align: center"><h5>Teléfonos</h5></td>
		</tr>
		{% if establecimiento.telefono_establecimiento_set.all.count > 4 %}
			<tr>
				{% for telefono in establecimiento.telefono_establecimiento_set.all %}

						<td>{{ telefono.telefono }}</td>

						
				{% endfor %}</tr>
			<tr>
		{% else %}
			<tr>
				<td colspan="4" style="text-align: center">
					{% for telefono in establecimiento.telefono_establecimiento_set.all %}

							{{ telefono.telefono }}
							   /   
							
					{% endfor %}</tr>

				</td>
			<tr>
		{% endif %}
		
			<td colspan="4" style="text-align: center"><h4>Servicios Publicitarios</h4></td>
		</tr>
		
			{% for servicio in establecimiento.servicios_publicitarios.all %}
				<tr>
					<td rowspan="2" >Descripcion: </td>
					<td rowspan="2"> {{servicio.descripcion}}</td>
					<td> Costo</td>
					<td>{{ servicio.costo }}</td>
				</tr>
				<tr>
					<td>Costo real: </td>
					<td> 
						{% if servicio.costo_real %}
							El costo es real
						{% else %}
							El costo no es real
						{% endif %}</td>
				</tr>
				<tr>
					<td>Medio Publicitario:</td>
					<td colspan="3"> <a href="#Medio_Publicitario">{{ servicio.medio_publicitario.nombre }} </a></td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="4" style="text-align: center">No posee servicios asociados</td>
				</tr>
			{% endfor %}
			
		
		
	</table>
<h3>Doctores Asociados</h3>

	
		<table id='example' class="table table-hover ">
			<thead>
				<tr>
					<th>Nombre y Apellido</th>
					<th>Especialidad</th>
				</tr>
			</thead>
			<tbody>
				{% for elemento in doctores %}
					<tr>
						<td><a href="{% url 'datamark.views.detalle_doctor' elemento.id %}">
							{{elemento.nombre}}  {{elemento.apellido}}
						</a></td>
							<td>
								{% for e in elemento.especialidades.all %}
									{{e}} <br>
								{% endfor %}
						 	</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
<h3>Seguros Asociados</h3>

	
		<table id='seguros' class="table table-hover ">
			<thead>
				<tr>
					<th>Aseguradora</th>
					<th>Telefono</th>
				</tr>
			</thead>
			<tbody>
				{% for seguros in establecimiento.seguros.all %}

					<tr>
						<td><a href="{% url 'detalle_seguro' seguros.id %}">
							{{seguros.nombre}}  
						</a></td>
							<td>
								{{seguros.telefono}}
						 	</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		








{% endblock contenido %}

{% block js %}
<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#example').dataTable( {
				    	"sPaginationType": "full_numbers",
				        "oLanguage": {
				            "sLengthMenu": "Mostrar _MENU_ registros",
				            "sZeroRecords": "No existen registros.",
				            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
				            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
				            "sInfoFiltered": "(filtered from _MAX_ total records)",
				            "sSearch": "Filtrar: ",
				            "oPaginate": {
				            	"sPrevious": "Anterior",
						        "sNext": "Siguiente"
						      }		            		         
				        }
				    } );
		})

		$(document).ready(function() {
			$('#seguros').dataTable( {
				    	"sPaginationType": "full_numbers",
				        "oLanguage": {
				            "sLengthMenu": "Mostrar _MENU_ registros",
				            "sZeroRecords": "No existen registros.",
				            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
				            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
				            "sInfoFiltered": "(filtered from _MAX_ total records)",
				            "sSearch": "Filtrar: ",
				            "oPaginate": {
				            	"sPrevious": "Anterior",
						        "sNext": "Siguiente"
						      }		            		         
				        }
				    } );
		})
</script>
{% endblock js %}