{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Gestión de Establecimientos
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de negocios de salud. 
{% endblock descripcion %}

{% block css %}
	{% load utils %}

	{% local_css "paginacion.css" %}
{% endblock css %}

{% block contenido %}
	
<a href="{% url 'datamark.views.establecimiento' %}"> 	
	<button class="btn btn-success" > 
		<i class="icon-plus icon-white"></i>
		Registrar establecimiento 
	</button> 
</a>

<table id='example' class="establecimientos table table-hover ">
	<thead>
		<tr >
			<th></th>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Zona</th>
			<th >Opciones</th>
			
		</tr>
	</thead>
	<tbody>
		{% for elemento in establecimientos %}
			<tr >

				<td>
					{%if elemento.validado_por %}
					<i class="icon-li icon-ok" ></i>
					{%endif%}
				</td>
					
				<td>
					<a href="{% url 'datamark.views.detalle_establecimiento' elemento.id %}">
						{{elemento.nombre}}
					</a>					
				</td>
				<td>{{elemento.direccion}}</td>
				<td>{{elemento.zona.descripcion}}</td>
				
				<td>
					<div class="btn-group">
						<a class="btn" href="{% url 'datamark.views.establecimiento' elemento.id %}">
							<i class="icon-edit"></i>
						</a>
						<a class="btn" href="{% url 'datamark.views.detalle_establecimiento' elemento.id %}">
							<i class="icon-eye-open"></i>
						</a>
						<a href="#" class="btn">
							<i id="{{elemento.id}}" class="icon-remove"></i>
						</a>	
					</div>					
				</td>
				 
					<a style="display: none" id="url{{elemento.id}}" href="{% url 'datamark.views.eliminar_establecimiento' elemento.id %}"></a>
				

				
			</tr>
		{% endfor %}
		
	</tbody>
</table>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Eliminar Establecimiento</h3>
  </div>
  <div class="modal-body">
  	<p>Desea eliminar el establecimiento:</p>
  	<br>
  	<div aling="center">
	  	<table >
	  		<tr>
	  			<td><p>Nombre: </p></td>
	  			<td><p><b id="establecimiento_nombre" ></b></p></td>
	  		</tr>
	  		<tr>
	  			<td><p>Direccion: </p></td>
	  			<td><p><b id="establecimiento_direccion" ></b></p></td>
	  		</tr>
	  		<tr>
	  			<td> <p>Zona: </p> </td>
	  			<td><p><b id="establecimiento_zona" ></b></p></td>
	  		</tr>
	  	</table>
  	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="eliminar_establecimiento" href=""> <button  class="btn btn-primary">Eliminar</button> </a>
  </div>
</div>



{% endblock contenido %}

{% block js %}
	<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			$(".icon-remove").click(function(){
				
				var tr = $(this).parent().parent().parent();
					//alert( $(tr).children("td:eq(1)").text())
					$("#establecimiento_nombre").text($(tr).children("td:eq(0)").text())	
					$("#establecimiento_zona").text($(tr).children("td:eq(2)").text())
					$("#establecimiento_direccion").text($(tr).children("td:eq(1)").text())	    
					//alert($('#url'+$(this).attr('id')).attr('id'))
					$("#eliminar_establecimiento").attr('href',$('#url'+$(this).attr('id')).attr('href'))
				
				$('#myModal').modal('show')
			})

		    $('#example').dataTable( {
		    	"sPaginationType": "full_numbers",
		        "oLanguage": {
		            "sLengthMenu": "Mostrar _MENU_ registros",
		            "sZeroRecords": "No existen registros.",
		            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
		            "sInfoFiltered": "(filtered from _MAX_ total records)",
		            "sSearch": "Filtrar: ",
		            "oPaginate": {
		            	"sPrevious": "Anterior",
				        "sNext": "Siguiente"
				      }		            		         
		        }
		    } );;
		} );
	</script>
{% endblock js %}
