{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Medios publicitarios
	
{% endblock titulo_seccion %}

{% block desctipcion %}
	Medio de publicidad que son usados por los posibles clientes de Proyecto Medic
{% endblock desctipcion %}

{% block contenido %}
	
	<a class="btn btn-success" href="{% url 'datamark.views.nuevo_medio_publicitario' %}">
		<i class="icon-flag icon-white"></i>
		Registrar medio
	</a>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Descripcion</th>
				<th>Servicios</th>
				<th></th>
			</tr>
		</thead>
		<tbody>			
			{% for m in medios  %}
				<tr>
					<td>{{m.nombre}}</td>
					<td>{{m.nombre_tipo}}</td>
					<td>{{m.descripcion}}</td>
					<td>{{m.servicio_publicitario_set.count}}</td>
					<td>						
						<div class="btn-group">
							<a class="btn" >
								<i class="icon-eye-open"></i>
							</a>	
							<a class="btn" href="{% url 'datamark.views.edicion_medio_publicitario' m.id %}">
								<i class="icon-pencil"></i>
							</a>
							<a class="btn">
								<i class="icon-remove"></i>
							</a>
						</div>						
					</td>
				</tr>
			{% endfor %}			
		</tbody>
	</table>
{% endblock contenido %}