{% extends "dm-base.html" %}

{% block titulo_seccion %}
	Registro de Medio Publicitario
{% endblock titulo_seccion %}

{% block descripcion %}
	Formulario para el registro de un nuevo medio publicitario. Un medio publicitario corresponde a una empresa o ente que ofrece algún servicio de 
	publicidad usado por doctores o establecimientos de salud.
{% endblock descripcion %}


{% block css %}

	{% load utils %}	

	{% local_css "medio_publicitario_form" %}	
	{% local_css "tarjetas_admin" %}
	
{% endblock css %}

{% block contenido %}

	{% with medio_publicitario_form as form   %}
		<form class="form-horizontal" method="post" id="medio_form"> {% csrf_token %}	
							
			{% include "bs-control-group.html" with campo=form.nombre %}
			{% include "bs-control-group.html" with campo=form.rif %}
			{% include "bs-control-group.html" with campo=form.tipo %}
			{% include "bs-control-group.html" with campo=form.descripcion %}
			{% include "bs-control-group.html" with campo=form.telefono %}
			{% include "bs-control-group.html" with campo=form.correo %}
			{% include "bs-control-group.html" with campo=form.web prepend="www." %}
			{% include "bs-control-group.html" with campo=form.twitter prepend="@" %}			

			<legend>Servicios ofrecidos</legend>

			<div class="row-fluid" id="servicios-forms">

				{{servicios_formset.management_form}}

				{% for form in servicios_formset  %}					
					
					<div class="span6 tarjeta-servicio">
						{{form.id}}
						
						<div class="close">&times;</div>

						<label for="id_{{form.descripcion.html_name}}">{{form.descripcion.label}}</label>
						{{form.descripcion}}
						{{form.descripcion.errors}}
						<label for="id_{{form.costo.html_name}}">{{form.costo.label}}</label>
						<div class="input-prepend">
							<span class="add-on">Bs.</span>
							{{form.costo}}	{{form.costo_real}} <label for="id_{{form.costo_real.html_name}}">{{form.costo_real.label}}</label>							 
						</div>
						{{form.costo.errors}}
						
					</div>
				{% endfor %}

				<div class="span6 tarjeta-agregar entypo-plus-circled"></div>
						
			</div>

			{% health_submit "Registrar" %}
			
		</form>    

		<div class="model-form" id="servicio-model-form">

			{% with servicios_formset.empty_form as servicio_form  %}					

				<div class="span6 tarjeta-servicio">
					{{servicio_form.id}}

					<div class="close">&times;</div>

					<label for="id_{{servicio_form.descripcion.html_name}}">{{servicio_form.descripcion.label}}</label>
					{{servicio_form.descripcion}}
					<label for="id_{{servicio_form.costo.html_name}}">{{servicio_form.costo.label}}</label>
					<div class="input-prepend">
						<span class="add-on">Bs.</span>
						{{servicio_form.costo}}	{{servicio_form.costo_real}} <label for="id_{{servicio_form.costo_real.html_name}}">{{servicio_form.costo_real.label}}</label>
						 
					</div>					
				</div>				    

			{% endwith %}				
			
		</div>
				
	{% endwith %}	
	
{% endblock contenido %}


{% block js %}
	{% local_js "helpers_health" %}
	{% local_js "medio_publicitario_form" %}	 
{% endblock js %}