{% extends "dm-base.html" %}



{% block titulo_seccion %}
	Gestión de Seguros
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de Empresas de Seguros
{% endblock descripcion %}


{% block contenido %}
	<table class="table table-bordered detalles">
		<tr>
			<td colspan="4" style="text-align: center"><h3>{{seguro.nombre}}</h3></td>
		</tr>
		<tr>
			<td >Dirección: </td>
			<td>{{seguro.direccion}}</td>
			<td style="width:15%">Telefono de Contacto:</td>
			<td>{{seguro.telefono}}</td>
			<td style="width:15%">RIF:</td>
			<td>{{seguro.rif}}</td>

		</tr>
	</table>
	

{% endblock contenido %}

{% block js %}
	
{% endblock js %}