{% extends 'dm-base.html' %}


{% block titulo_seccion %}
	Ingresar Seguro
{% endblock titulo_seccion %}

{% block descripcion %}
	Registro de una Empresa Aseguradora
{% endblock descripcion %}


{% block contenido %}

	{% load utils %}

	<form class="form-horizontal" id='formulario' method='post' enctype="multipart/form-data">{% csrf_token %}
		{% for elemento in form  %}
			
			{% include "bs-control-group.html" with campo=elemento %}	
		{% endfor %}

				{% health_submit "Registrar" %}
		
       
		
	</form>
{%endblock%}

{% block js %}
	<script>
	
	    
	
	  $("#id_nombre").tooltip({
                  'selector': '',
                  'placement': 'right'
                });
	  $("#id_telefono").tooltip({
                  'selector': '',
                  'placement': 'right'
                });
	 

  </script>
{% endblock js %}