{% extends "dm-base.html" %}



{% block titulo_seccion %}
	Gestión de Zonas
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de zonas de ciudades.
{% endblock descripcion %}

{% block css %}
	{% load utils %}

	{% local_css "paginacion.css" %}
{% endblock css %}
{% block contenido %}
	
<a href="{% url 'datamark.views.nueva_zona' %}"> 	
	<button class="btn btn-success" > 
		<i class="icon-map-marker icon-white"></i>
		Insertar zona
	</button> 
</a>

<table id='example' class="establecimientos table table-hover ">
	<thead>
		<tr>
			<th>Descripcion</th>
			<th>Ciudad</th>
			<th>Opciones</th>
			
		</tr>
	</thead>
	<tbody>
		{% for elemento in zona %}
			<tr >
				<td><a href="{% url 'datamark.views.detalle_zona' elemento.id %}">{{elemento.descripcion}}</td>
				<td>{{elemento.ciudad.descripcion}}</a></td>
				
				<td >

					<div class="btn-group">
						<a class="btn" href="{% url 'datamark.views.nueva_zona' elemento.id %}">
							<i class="icon-edit"></i>
						</a>
						<a class="btn" href="{% url 'datamark.views.detalle_zona' elemento.id %}">
							<i class="icon-eye-open"></i>
						</a>
						<a class="btn" href="#">
							<i id="{{elemento.id}}" class="icon-remove"></i>
						</a>	
					</div>
					<a style="display: none" id="url{{elemento.id}}" href="{% url 'datamark.views.eliminar_zona' elemento.id %}"></a>	
				</td>
				
			</tr>
			
		{% endfor %}
		
	</tbody>
</table>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Eliminar Establecimiento</h3>
  </div>
  <div class="modal-body">
  	<p>Desea eliminar el establecimiento:</p>
  	<br>
  	<div aling="center">
	  	<table >
	  		<tr>
	  			<td><p>Descripción: </p></td>
	  			<td><p><b id="zona_descripcion" ></b></p></td>
	  		</tr>
	  		<tr>
	  			<td><p>Ciudad: </p></td>
	  			<td><p><b id="zona_ciudad" ></b></p></td>
	  		</tr>

	  	</table>
  	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="eliminar_zona" href=""> <button  class="btn btn-primary">Eliminar</button> </a>
  </div>
</div>


{% endblock contenido %}

{% block js %}
	<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
	<script type="text/javascript">



		$(document).ready(function() {

			$(".icon-remove").click(function(){
				
				var tr = $(this).parent().parent().parent();
					//alert( $(tr).children("td:eq(1)").text())
					$("#zona_descripcion").text($(tr).children("td:eq(0)").text())	
					$("#zona_ciudad").text($(tr).children("td:eq(1)").text())
					
					$("#eliminar_zona").attr('href',$('#url'+$(this).attr('id')).attr('href'))
				
				$('#myModal').modal('show')
			})





		    $('#example').dataTable( {
		    	"sPaginationType": "full_numbers",
		        "oLanguage": {
		            "sLengthMenu": "Mostrar _MENU_ registros",
		            "sZeroRecords": "No existen registros.",
		            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
		            "sInfoFiltered": "(filtered from _MAX_ total records)",
		            "sSearch": "Filtrar: ",
		            "oPaginate": {
		            	"sPrevious": "Anterior",
				        "sNext": "Siguiente"
				      }		            		         
		        }
		    } );;
		} );
	</script>
{% endblock js %}