{% extends 'dm-base.html' %}


{% block titulo_seccion %}
	Ingresar Zona
{% endblock titulo_seccion %}

{% block descripcion %}
	Registro de una zona.
{% endblock descripcion %}


{% block contenido %}

	{% load utils %}

	<form class="form-horizontal" id='formulario' method='post'>{% csrf_token %}

				{% include "bs-control-group.html" with campo=formulario.ciudad %}
				{% include "bs-control-group.html" with campo=formulario.descripcion %}

				{% health_submit "Registrar" %}
       
		
	</form>
{%endblock%}

{% block js %}
	<script>
	
	    
	
	  $("#id_ciudad").tooltip({
                  'selector': '',
                  'placement': 'right'
                });
	  $("#id_descripcion").tooltip({
                  'selector': '',
                  'placement': 'right'
                });
	 

  </script>
{% endblock js %}