{% extends "dm-base.html" %}



{% block titulo_seccion %}
	Gestión de Zona
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de negocios de salud. 
{% endblock descripcion %}


{% block contenido %}
	<table class="table table-bordered detalles">
		<tr>
			<td colspan="4" style="text-align: center"><h3>{{zona.descripcion}}</h3></td>
		</tr>
		<tr>
			<td>Ciudad: </td>
			<td>{{zona.ciudad}}</td>
			<td style="width:30%">Número de establecimientos:</td>
			<td>{{zona.estalblecimiento.count}}</td>
		</tr>
	</table>
	

{% endblock contenido %}

{% block js %}
	
{% endblock js %}