@import url("http://fonts.googleapis.com/css?family=Signika");
@import url("http://weloveiconfonts.com/api/?family=fontawesome");
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
*,
h1,
h2,
h3,
input {
  font-family: 'Gudea', sans-serif;
}
html,
body {
  background-color: #f9f9f9;
  font-size: 16px;
}
span.medic {
  font-family: 'ComfortaaBold';
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
img.franja_beta {
  position: absolute;
  top: 0px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  img.franja_beta {
    display: none;
  }
}
div.franja_beta {
  background-color: #c70000;
  height: 2.1em;
  padding: 0.1em 0em;
}
@media screen and (min-width: 768px) {
  div.franja_beta {
    display: none;
  }
}
div.franja_beta div {
  font-size: 0.9em;
  color: #fff;
  padding: 0.5em 0.5em;
  border: 1px dashed #ff8080;
  border-left: none;
  border-right: none;
  height: 98%;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
img#ciudad {
  position: relative;
  width: 100%;
}
header * {
  color: #fff;
}
header #titulo-box {
  background: rgba(85,255,43,0.75);
  background: -moz-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(85,255,43,0.75)), color-stop(70%, rgba(191,242,179,0)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
  background: radial-gradient(ellipse at center, rgba(85,255,43,0.75) 0%, rgba(191,242,179,0) 70%, rgba(237,237,237,0) 100%);
}
header h1 {
  font-family: 'ComfortaaBold';
  font-weight: normal;
  font-size: 6.9em;
  margin: 0;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: rgba(0,0,0,0.25) 1px 2px 0px;
  line-height: 1.2em;
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 5.9em;
  }
}
@media screen and (max-width: 320px) {
  header h1 {
    font-size: 4.9em;
  }
}
#cabezera {
  background: #319410;
  background: -moz-linear-gradient(top, #389c17 0%, #43c418 40%, #43c418 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #389c17), color-stop(40%, #43c418), color-stop(100%, #43c418));
  background: -webkit-linear-gradient(top, #389c17 0%, #43c418 40%, #43c418 100%);
  background: -o-linear-gradient(top, #389c17 0%, #43c418 40%, #43c418 100%);
  background: -ms-linear-gradient(top, #389c17 0%, #43c418 40%, #43c418 100%);
  background: linear-gradient(to bottom, #389c17 0%, #43c418 40%, #43c418 100%);
  -webkit-box-shadow: outset 0px 2px 10px 0px;
  -moz-box-shadow: outset 0px 2px 10px 0px;
  box-shadow: outset 0px 2px 10px 0px;
}
#cabezera #busqueda {
  padding-bottom: 0.3em;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  position: relative;
  padding-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
  #cabezera #busqueda {
    padding-bottom: 0rem;
  }
}
#cabezera #busqueda #busqueda-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
}
@media screen and (max-width: 768px) {
  #cabezera #busqueda #busqueda-wrapper {
    border: solid 1px #5da423;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #fff;
    -moz-box-shadow: 0px 0px 0px 0px #fff;
    box-shadow: 0px 0px 0px 0px #fff;
  }
}
#cabezera #busqueda #busqueda-wrapper input {
  font-size: 1.12rem;
  padding: 0px;
  border: none;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
}
#cabezera #busqueda #busqueda-wrapper input:focus {
  background: #fff;
}
@media screen and (max-width: 768px ) {
  #cabezera #busqueda #busqueda-wrapper input {
    border-left: 0px;
    border-right: 0px;
    background: #fff;
    font-size: 1.1rem;
    border: none;
  }
}
#cabezera #busqueda #boton-buscar {
  width: 100%;
  height: 100%;
  margin-bottom: 0em;
  border-left: 0px;
  padding: 0em;
  font-size: 1.35em;
  color: #919191;
  background: none;
  border: none;
}
#cabezera #busqueda #boton-buscar:hover {
  color: #6d6d6d;
}
#cabezera #busqueda #consulta {
  height: 2.6em;
  margin-bottom: 0em;
}
#cabezera #menu {
  margin-bottom: 0.6em;
}
#cabezera #menu #menu-wrapper {
  background-color: #328918;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.45);
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media screen and (max-width: 768px) {
  #cabezera #menu #menu-wrapper {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: none;
    box-shadow: none;
  }
}
#cabezera #menu li {
  display: inline-block;
  padding: 0em 1em;
  margin: 0.4em 0em;
  border-right: 1px solid #296f14;
  border-left: 1px solid #3ba01d;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #cabezera #menu li {
    margin-top: 0.2em;
    border-right: 1px solid #308117;
    border-left: 1px solid #4ac824;
  }
}
#cabezera #menu li:last-child {
  border-right: none;
}
#cabezera #menu li:first-child {
  border-left: none;
}
#cabezera #estadistica {
  padding-top: 0.8em;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
@media screen and (max-width: 768px) {
  #cabezera #estadistica {
    display: none;
  }
}
#cabezera #estadistica .del {
  height: 1px;
  width: 75%;
  margin: 2px auto;
  border-bottom: 1px solid #b6b6b6;
}
@media screen and (min-width: 768px) {
  #cabezera #estadistica .del {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #cabezera #estadistica br {
    display: none;
  }
}
#cabezera #estadistica .icon {
  font-size: 1.6em;
  margin-right: 0.4em;
  line-height: 0.7em;
}
#cabezera #estadistica div {
  font-size: 1.01em;
  text-transform: uppercase;
}
#cabezera #estadistica * {
  color: #484848;
  text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
}
#cabezera #estadistica .row#numeros {
  text-align: center;
}
#cabezera #estadistica .row#numeros strong {
  font-size: 1.15em;
}
@media screen and (max-width: 480px) {
  #cabezera #estadistica .row#numeros > div {
    width: 32.666666666666664%;
    padding: 0px;
  }
  #cabezera #estadistica .row#numeros > div:last-child {
    display: none;
  }
}
#cabezera #estadistica .row:last-child {
  padding-bottom: 0.7em;
}
#cuerpo {
  height: 55em;
  padding-top: 1rem;
}
#cuerpo.mobile {
  height: auto;
}
@media screen and (max-width: 480px) {
  #cuerpo {
    height: 67em;
  }
}
@media screen and (max-width: 320px) {
  #cuerpo {
    height: 73em;
  }
}
#cuerpo .sombra-scroll {
  height: 1em;
  max-width: 64em;
  -webkit-box-shadow: 0px -2px 5px 2px #f9f9f9;
  -moz-box-shadow: 0px -2px 5px 2px #f9f9f9;
  box-shadow: 0px -2px 5px 2px #f9f9f9;
  z-index: 10;
  position: relative;
}
#cuerpo .sombra-scroll.sup {
  -webkit-box-shadow: 0px 2px 5px 2px #f9f9f9;
  -moz-box-shadow: 0px 2px 5px 2px #f9f9f9;
  box-shadow: 0px 2px 5px 2px #f9f9f9;
}
@media screen and (max-width: 768px) {
  #cuerpo .sombra-scroll {
    -webkit-box-shadow: 0px 0px 0px 0px #f9f9f9;
    -moz-box-shadow: 0px 0px 0px 0px #f9f9f9;
    box-shadow: 0px 0px 0px 0px #f9f9f9;
  }
}
#cuerpo #resultados {
  height: 48em;
  overflow-y: scroll;
  z-index: 2;
}
#cuerpo #resultados.mobile {
  overflow: visible;
  height: auto;
}
#cuerpo #resultados.row {
  max-width: 64em;
}
#cuerpo * {
  color: #484848;
}
#cuerpo #barra-superior {
  padding-bottom: 0rem;
  border-bottom: 1px solid #c8c8c8;
}
#cuerpo #barra-superior h3 {
  font-weight: normal;
  text-align: center;
  color: #484848;
  text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
  font-size: 1.75em;
}
@media screen and (max-width: 600px) {
  #cuerpo #barra-superior h3 {
    font-size: 1.55em;
  }
}
#cuerpo #barra-superior .filtro {
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 0em;
  font-size: 1.05em;
  color: #919191;
  position: relative;
  bottom: -1px;
}
#cuerpo #barra-superior .filtro.active {
  color: #484848;
  border-bottom: 6px solid #35b814;
}
#cuerpo #presentacion {
  margin-top: 2em;
}
#cuerpo #presentacion .bloque-explicacion {
  margin-bottom: 1.6em;
}
#cuerpo #presentacion .bloque-explicacion article.explicacion {
  line-height: 1.4em;
  font-size: 1rem;
}
#cuerpo #presentacion .bloque-explicacion .imagen {
  border: 1px dashed #7f7f7f;
  height: 8em;
}
@media screen and (max-width: 768px) {
  #cuerpo #presentacion .bloque-explicacion .img_wrapper {
    margin-top: 1rem;
  }
}
#cuerpo .jspVerticalBar {
  background: none;
}
#cuerpo .jspTrack,
#cuerpo .jspArrow {
  background: none;
  border-left: 1px solid #c8c8c8;
}
#cuerpo .jspArrow {
  height: 2em;
}
#cuerpo .jspDrag {
  background: none;
  border-left: 5px solid #35b814;
}
footer {
  background-color: #e0e0e0;
  -webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.3);
  padding-top: 0.5em;
}
footer * {
  color: #484848;
}
footer .secciones {
  border-top: 1px solid #bbb;
  padding-top: 0.7em;
}
footer .secciones .seccion strong,
footer .secciones #redes strong {
  font-size: 1.2em;
}
footer .secciones .seccion p,
footer .secciones #redes p {
  margin-left: 0.7em;
  font-size: 0.9em;
  color: #646464;
}
footer .secciones #redes span {
  font-size: 4em;
  margin-right: 0.1em;
}
footer .secciones #redes span[class$=twitter-sign] {
  color: #00aced;
}
footer .secciones #redes span[class$=facebook-sign] {
  color: #3b5998;
}
footer .secciones #redes span[class$=google-plus-sign] {
  color: #f23735;
}
footer .secciones #redes a {
  margin-left: 0.1em;
}
footer .secciones #redes a:first-child span {
  margin-left: 0.8em;
}
footer #final {
  padding-top: 2em;
  padding-bottom: 1.4em;
}
footer #final * {
  text-align: center;
  font-size: 1em;
}
footer #final p {
  margin: 0px;
  line-height: 1em;
}
footer #final #medic_footer {
  font-family: 'ComfortaaBold';
  letter-spacing: 0.1em;
  text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
  font-size: 3.2em;
  line-height: 1.18em;
}
footer #final #legal {
  font-size: 1em;
  text-shadow: rgba(255,255,255,0.75) 1px 1px 0px;
}
footer #final #legal span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tarjeta_medic {
  display: inline-block;
  background-color: #fff;
  background-image: url("/static_health/img/paper_texture2.png");
  border: 1px solid #f9f9f9;
  padding: 0.2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
  vertical-align: top;
}
article.tarjeta_medic {
  cursor: pointer;
  margin: 0.3%;
  margin-top: 0.4%;
  margin-bottom: 0.4%;
  width: 32.37266666666667%;
  height: 9.249333333333334em;
  position: relative;
}
article.tarjeta_medic:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(53,184,20,0.8);
  -moz-box-shadow: 0px 0px 5px 2px rgba(53,184,20,0.8);
  box-shadow: 0px 0px 5px 2px rgba(53,184,20,0.8);
}
@media screen and (max-width: 768px) {
  article.tarjeta_medic {
    width: 48.706%;
  }
}
@media screen and (max-width: 480px) {
  article.tarjeta_medic {
    width: 97.706%;
  }
}
.tarjeta_medic .cuerpo {
  height: 93%;
  border-bottom: 1px solid #e0e0e0;
}
.tarjeta_medic .cuerpo > div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.tarjeta_medic .cuerpo > div:first-child {
  width: 30%;
}
.tarjeta_medic .cuerpo > div:last-child {
  width: 68.5%;
}
.tarjeta_medic .cuerpo h3 {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  text-align: right;
  margin-bottom: 0px;
  font-family: 'Signika';
}
.tarjeta_medic .cuerpo h4.especialidades {
  font-family: 'Signika';
  color: #7d7d7d !important;
  font-weight: normal;
  text-align: right;
  font-size: 0.96em;
  margin: 0px;
  margin-bottom: 0.96em;
}
.tarjeta_medic .cuerpo p.servicios {
  text-align: right;
  font-size: 0.7rem;
  line-height: 0.9rem;
}
.tarjeta_medic .pie {
  height: 7%;
}
.tarjeta_medic .pie p {
  font-size: 0.55rem;
  text-align: center;
  margin: 0px;
}
.tarjeta_medic .doctor_shot {
  border: 1px solid #e0e0e0;
  width: 5.5em;
  height: 5.5em;
  background-image: url("/static_health/img/doctest3.png");
  background-position: top left;
  background-size: contain;
}
.tarjeta_medic h2 {
  display: inline-block;
  font-size: 0.5em;
}
@font-face {
  font-family: 'ComfortaaBold';
  src: url("../fonts/Comfortaa_Bold-webfont.eot");
  src: url("../fonts/Comfortaa_Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Comfortaa_Bold-webfont.woff") format('woff'), url("../fonts/Comfortaa_Bold-webfont.ttf") format('truetype'), url("../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
.show-doctor {
  -webkit-animation-name: mostrar-doctor;
  -moz-animation-name: mostrar-doctor;
  -ms-animation-name: mostrar-doctor;
  -o-animation-name: mostrar-doctor;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
}
.show {
  -webkit-animation-name: mostrar;
  -moz-animation-name: mostrar;
  -ms-animation-name: mostrar;
  -o-animation-name: mostrar;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
}
.hide {
  opacity: 0;
}
@-moz-keyframes mostrar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mostrar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes mostrar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes mostrar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes mostrar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes mostrar-doctor {
  0% {
    opacity: 0;
    position: relative;
    right: 20px;
  }

  40% {
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0px;
    position: static;
  }
}
@-webkit-keyframes mostrar-doctor {
  0% {
    opacity: 0;
    position: relative;
    right: 20px;
  }

  40% {
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0px;
    position: static;
  }
}
@-o-keyframes mostrar-doctor {
  0% {
    opacity: 0;
    position: relative;
    right: 20px;
  }

  40% {
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0px;
    position: static;
  }
}
@-ms-keyframes mostrar-doctor {
  0% {
    opacity: 0;
    position: relative;
    right: 20px;
  }

  40% {
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0px;
    position: static;
  }
}
@keyframes mostrar-doctor {
  0% {
    opacity: 0;
    position: relative;
    right: 20px;
  }

  40% {
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0px;
    position: static;
  }
}
@-moz-keyframes quitar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes quitar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes quitar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes quitar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes quitar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
