{% extends "dm-base.html" %}



{% block titulo_seccion %}
	Gestión de Establecimientos
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para la gestion de negocios de salud. 
{% endblock descripcion %}


{% block contenido %}

	<div class="span6">
						<span style="float: right;"> {{comentario.fecha}}</span>						
						<div class="control-group">
							<label>¿Se encuentra conforme con el resultado de la busqueda?  <br> <b>{{comentario.get_conformidad}}</b></label>
						</div>
						<div class="control-group">
							<label>¿Le gusto el sitio?  <b>{{comentario.get_detalle_sitio}}</b></label>
						</div>
						<div class="control-group">
							<label>Comentario:</label>
							{{comentario.comentario}}
						</div>	
													
	</div>
{% endblock contenido %}