<button class="btn" id="btn-opinion" type="button">Tu opinion es importante</button>

<div id="modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Su opinion es importante</h3>
  </div>
  <div class="modal-body">
    {% for elemento in formulario %}
      {% if elemento.html_name != 'fecha' %}
        {% if elemento.html_name == 'conformidad' %}
          <div id="pregunta2">
            {% include "bs-control-group.html" with campo=elemento %}
          </div>
        {%elif elemento.html_name == 'comentario' %}
        <div id="pregunta3" class="invisible">
            {% include "bs-control-group.html" with campo=elemento %}
          </div>
        {% endif %}
      {% endif %}

       
    {% endfor %}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="btn-cerrar-opinion">Cerrar</a>
    <a href="#" class="btn btn-primary" id='btn-guardar-opinion'>Guardar</a>
  </div>
</div>






