{% extends "pm-base.html" %}

{% block css %}
	{% load utils %}

	{% local_css "tarjetas_admin.css" %}
{% endblock css %}


{% block titulo_seccion %}
	Comentarios
	
{% endblock titulo_seccion %}

{% block descripcion %}
	Página para visualizar los comentarios realizados por los usuarios de MEDIC
{% endblock descripcion %}

{% block contenido %}

<div class="span6">
	{% for elemento in elementos %}

			<div class="span6 tarjeta-admin">
					<span style="float: right;"> {{elemento.fecha}}</span>						
					<div class="control-group">
						<label>¿Se encuentra conforme con el resultado de la busqueda?  <br> <b>{{elemento.get_conformidad}}</b></label>
					</div>
					{% if elemento.get_detalle_sitio != None %}
						<div class="control-group">
							<label>¿Le gusto el sitio?  <b>{{elemento.get_detalle_sitio}}</b></label>
						</div>
					{% endif %}
					
					<div class="control-group">
						<label>Comentario:</label>
						{{elemento.comentario}}
					</div>	
					{% if elemento.revisado == False %}
						<label class="checkbox" style="float: right;">
						
							<input class="revisado" id='{{elemento.id}}' type="checkbox"> Revisado
						</label>
					{% endif %}
													
			</div>

	{% endfor %}

</div>

<div class="span6 pagination pagination-centered">
	
	<ul >	
			{% if elementos.has_previous %}
	 			<li><a href="?page={{ elementos.previous_page_number }}">«</a></li>
	        {% else %}
	            <li ><a href="#">«</a></li>
	    	{% endif %}

	    	{% for num in elementos.paginator.page_range %}
			  {% ifequal num elementos.number %}
			  <li class="disabled"><a href="#">{{ num }}</a></li>
			   
			  {% else %}
			  <li> <a href="?page={{ num }}"> {{ num }}</a></li>
			  {% endifequal %} 
			{% endfor %}
			{% if elementos.has_next %}
				<li><a href="?page={{ elementos.next_page_number }}">»</a></li>	
			{% else %}
				<li><a href="#">»</a></li>
			{% endif %}
			  
	</ul>
	<br>
{% include "opinion.html" with formulario=formulario%}
</div>
	
{% endblock contenido %}

{% block js %}
{% local_js "opinion" %}
<script src="{{STATIC_URL}}js/vendor/jquery.dataTables.js"></script>
<script src="{{STATIC_URL}}js/vendor/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/vendor/backbone-min.js"></script>
<script src="{{STATIC_URL}}js/medic/encuesta.js"></script>
	<script>

	$(document).ready(function() {
		//guardar_opinion("http://localhost:8000/pollmark/api/comentario/")
		
		$('.revisado').click(function(){
			if($(this).is(':checked')) {  
            console.log("El elemento "+$(this).attr('id')+" esta activo");  
            revisado("http://localhost:8000/pollmark/comentario/",$(this).attr('id'),1)
        } else {  
            console.log("El elemento "+$(this).attr('id')+" esta inactivo"); 
            revisado("http://localhost:8000/pollmark/comentario/",$(this).attr('id'),0) 
        } 
		})

		

	})
	</script>	
{% endblock js %}