{% comment %}
      Elementos o items del menú de Pollmark
{% endcomment %}

<li><a href="{% url 'pollmark.views.inicio' %}"> <i class="icon-home"></i> Inicio</a></li>                                    
<li class="divider"></li>
<li class="nav-header"></li>
<li><a href="{% url 'pollmark.views.leidos' %}">Comentarios Leidos</a></li>


